// main: ../main.scss
/*--------------------------------------------------------------
# Starter Section Section
--------------------------------------------------------------*/

.btn-back,
.btn-back:focus {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-size: 14px;
  padding: 8px 26px;
  margin: 0;
  border-radius: 4px;
  transition: 0.3s;

  &:hover {
    color: var(--contrast-color);
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
}