Django
psycopg2
boto3
django-storages
django-unfold
django-simple-history
django-payments
django-money
django-ckeditor
gunicorn
mollie-api-python
qrcode[pil]
reportlab
pypdf
requests
django-phonenumber-field
django-lockdown
pytz
django-dbbackup