Django
psycopg2
django-dbbackup 
boto3
django-storages
django-unfold
django-simple-history
django-payments
django-money
django-ckeditor
gunicorn
mollie-api-python
qrcode[pil]
reportlab
pypdf
requests
django-lockdown