Django==5.1.4
psycopg2-binary>=2.9.8
boto3==1.35.26
django-storages==1.14.4
django-unfold==0.31.0
django-simple-history==3.7.0
django-payments==3.0.1
django-money==3.5.3
django-ckeditor==6.7.1
gunicorn==23.0.0
mollie-api-python==3.7.2
qrcode[pil]==7.4.2
reportlab==4.2.2
pypdf==5.0.0
requests==2.32.3
django-phonenumber-field==8.0.0
django-lockdown==4.0.0
pytz==2024.2
django-dbbackup==4.2.1
django-import-export==4.1
