{% extends 'pages/kampen/base.html' %}
{% load i18n %}

{% block wizard_content %}
<h4>{% trans 'Betalen' %}</h4>
<p class="text-muted small">{% trans "Aanvaard de voorwaarden en ga verder naar de beveiligde betaling." %}</p>

<div class="mb-4">
  <table class="prijsopbouw-table">
    <tr>
      <td>{{ kamp.titel }}</td>
      <td>€{{ kamp.prijs.amount }}</td>
    </tr>
    <tr>
      <td><strong>{% trans 'Totaal' %}</strong></td>
      <td><strong>€{{ kamp.prijs.amount }}</strong></td>
    </tr>
  </table>
</div>

<form method="post" class="register-form">
  {% csrf_token %}

  <div class="col-md-12 mb-3">
    <div class="form-check">
      <input name="terms_voorwaarden" class="form-check-input" type="checkbox" required id="terms_av">
      <label class="form-check-label text-muted small" for="terms_av">
        {% url 'algemene_voorwaarden' as av_url %}
        {% blocktrans %}Ik ga akkoord met de <a href="{{ av_url }}">Algemene voorwaarden</a>.{% endblocktrans %}
      </label>
    </div>
  </div>
  <div class="col-md-12 mb-3">
    <div class="form-check">
      <input name="terms_privacy" class="form-check-input" type="checkbox" required id="terms_priv">
      <label class="form-check-label text-muted small" for="terms_priv">
        {% url 'privacybeleid' as p_url %}
        {% blocktrans %}Ik ga akkoord met het <a href="{{ p_url }}">Privacybeleid</a>.{% endblocktrans %}
      </label>
    </div>
  </div>
  <div class="col-md-12 mb-3">
    <div class="form-check">
      <input name="terms_reglement" class="form-check-input" type="checkbox" required id="terms_reg">
      <label class="form-check-label text-muted small" for="terms_reg">
        {% url 'reglement_dartskampen' as rt_url %}
        {% blocktrans %}Ik ga akkoord met het <a href="{{ rt_url }}">Algemeen reglement</a> voor dartskampen.{% endblocktrans %}
      </label>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <a href="{% url 'inschrijven_dartskamp_overzicht' slug=kamp.slug %}" class="btn btn-back">{% trans 'Terug' %}</a>
    <button type="submit">{% trans 'Betaal nu' %}</button>
  </div>
</form>
{% endblock %}
