{% load static i18n %}

<footer id="footer" class="footer position-relative light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="{% url 'index' %}" class="logo d-flex align-items-center">
          <span class="sitename">ChuDartz</span>
        </a>
        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Handige Links</h4>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'over_ons' %}">Over Ons</a></li>
          <li><a href="{% url 'terms_of_service' %}">Terms of service</a></li>
          <li><a href="{% url 'privacy_policy' %}">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Onze Diensten</h4>
        <ul>
          <li><a href="{% url 'dartschool' %}">Dartschool</a></li>
          <li><a href="{% url 'tornooien' %}">tornooien</a></li>
          <li><a href="#">Verkoop van darts</a></li> <!-- TODO -->
          
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contacteer Ons</h4>
        <p>A108 Adam Street</p>
        <p>New York, NY 535022</p>
        <p>United States</p>
        <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
        <p><strong>Email:</strong> <span>info@example.com</span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="sitename">ChuDartz</strong> <span>All Rights Reserved</span></p>
  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/email-form/validate.js" %}" defer></script>
<script src="{% static "vendor/aos/aos.js" %}" defer></script>
<script src="{% static "vendor/glightbox/js/glightbox.min.js" %}" defer></script>
<script src="{% static "vendor/imagesloaded/imagesloaded.pkgd.min.js" %}" defer></script>
<script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}" defer></script>
<script src="{% static "vendor/swiper/swiper-bundle.min.js" %}" defer></script>

<!-- Main JS File -->
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/lang_switcher.js" %}"></script>