{% load static i18n sponsors %}

<footer id="footer" class="footer position-relative light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-{% if sponsors|has_to_show_sponsors_footer %}4{% else %}5{% endif %} col-md-12 footer-about">
        <a href="{% url 'index' %}" class="logo d-flex align-items-center">
          <span class="sitename">ChuDartz</span>
        </a>
        <p>{% trans 'Gemaakt door' %}<a href="https://github.com/SDeVuyst/"> SDeVuyst</a>.</p>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href="https://github.com/SDeVuyst/Chudartz"><i class="bi bi-github"></i></a>
        </div>
      </div>

      {% if sponsors|has_to_show_sponsors_footer %}
      <div class="col-lg-2 col-6 footer-links">
        <h4>{% trans 'Sponsors' %}</h4>
        <ul>
          {% for sponsor in sponsors %}
          {% if sponsor.toon_in_footer %}
          <li><a href="{{ sponsor.website_url }}">{{ sponsor.naam }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="col-lg-2 col-6 footer-links">
        <h4>{% trans 'Handige Links' %}</h4>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'over_ons' %}">{% trans 'Over Ons' %}</a></li>
          <li><a href="{% url 'terms_of_service' %}">{% trans 'Terms of service' %}</a></li>
          <li><a href="{% url 'privacy_policy' %}">{% trans 'Privacy policy' %}</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>{% trans 'Onze Diensten' %}</h4>
        <ul>
          <li><a href="{% url 'dartschool' %}">{% trans 'Dartschool' %}</a></li>
          <li><a href="{% url 'tornooien' %}">{% trans 'Tornooien' %}</a></li>
          <li><a href="#">{% trans 'Verkoop van darts' %}</a></li> <!-- TODO -->
          
        </ul>
      </div>

      <div class="col-lg-{% if sponsors|has_to_show_sponsors_footer %}2{% else %}3{% endif %} col-md-12 footer-contact text-center text-md-start">
        <h4>{% trans 'Contacteer Ons' %}</h4>
        <p>A108 Adam Street</p>
        <p>Zedelgem, 8210</p>
        <p>België</p>
        <p class="mt-4"><strong>{% trans 'Telefoon' %}:</strong> <span>+1 5589 55488 55</span></p>
        <p><strong>Email:</strong> <span>info@example.com</span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="sitename">ChuDartz</strong> <span>{% trans 'alle rechten voorbehouden' %}</span></p>
  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/email-form/validate.js" %}" defer></script>
<script src="{% static "vendor/aos/aos.js" %}" defer></script>
<script src="{% static "vendor/glightbox/js/glightbox.min.js" %}"></script>
<script src="{% static "vendor/imagesloaded/imagesloaded.pkgd.min.js" %}" defer></script>
<script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}" defer></script>

<!-- Main JS File -->
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/lang_switcher.js" %}"></script>