{% load static i18n %}

<div class="container-fluid position-relative d-flex align-items-center justify-content-between">
  
  <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
    <img src="{% static "img/logo-black.png" %}" alt="">
  </a>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="{% url 'index' %}#hero" class="active">Home</a></li>
      <li><a href="{% url 'over_ons' %}">{% trans 'Over Ons' %}</a></li>
      <li class="dropdown">
        <a href="#"><span>{% trans 'Dartschool' %}</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
          <li><a href="{% url 'dartschool' %}">{% trans 'Info' %}</a></li>
          <li><a href="{% url 'dartschool_werkwijze' %}">{% trans 'Werkwijze' %}</a></li>
          <li><a href="{% url 'gratis_proefles' %}">{% trans 'Gratis proefles' %}</a></li>
          <li><a href="{% url 'beurtkaart_kopen' %}">{% trans 'Beurtenkaart kopen' %}</a></li>
          <li><a href="{% url 'reserveren_dartschool' %}">{% trans 'Training reserveren' %}</a></li>
          <li><a href="{% url 'priveles' %}">{% trans 'Privéles Boeken' %}</a></li>
          <!-- TODO -->
        </ul>
      </li>

      <li class="dropdown"><a href="#"><span>{% trans 'Toernooien' %}</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>

          {% for groep in toernooi_groepen %}
          <li class="dropdown"><a href="#"><span>{{ groep.naam }}</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              {% for toernooi_in_groep in groep.toernooien.all %}
              <li><a href="{% url 'toernooi' slug=toernooi_in_groep.slug %}">
                {% if toernooi_in_groep.naam_in_header %}
                  {{ toernooi_in_groep.naam_in_header }}
                {% else %}
                  {{ toernooi_in_groep.titel }}
                {% endif %}
              </a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}

          <li><a href="{% url 'toernooien' %}">Alle toernooien</a></li>
          <li><a href="{% url 'resultaten' %}">Resultaten</a></li>
        </ul>
      </li>

      <li><a href="{% url 'teambuildings_en_workshops' %}">{% trans 'Teambuilding' %}</a></li>   
      <li><a href="{% url 'index' %}#contact">{% trans 'Contact' %}</a></li>

      <li class="dropdown">
        {% get_current_language as LANGUAGE_CODE %}
        <a href="#"><span>{% trans 'Taal' %}</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
          
          {% get_available_languages as LANGUAGES %}
          {% for lang_code, lang_name in LANGUAGES %}
            <li>
              <a href="" data-language="{{ lang_code }}" class="language-switcher">{{ lang_name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>

    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    
    <!-- Lang switcher form -->
    <form id="language-form" action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="language" value="">
      <input type="hidden" name="next" value="{{ request.path }}">
    </form>


  </nav>

  <a class="btn-getstarted" href="{% url 'index' %}#over-ons">{% trans 'Begin Nu' %}</a>

  </div>