{% load static %}

<div class="container-fluid position-relative d-flex align-items-center justify-content-between">
  
    <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="{% static "img/logo-black.png" %}" alt="">
      <!-- <h1 class="sitename">Append</h1><span>.</span> -->
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/#hero" class="active">Home</a></li>
        <li><a href="/#about">Over Ons</a></li>
        <li><a href="/dartschool">Dartschool</a></li>
        <li><a href="/dartstornooien">Tornooien</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" href="/#about">Get Started</a>

  </div>