{% load i18n %}

<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading
     {% if background %}background{% endif %} 
     {% if backgroundsecond %}background background2{% endif %}">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>{{ name }}</h1>
            {% if description %}
            <p class="mb-0"><b>{{ description }}</b></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>

          {% if second_previous_crumb %}
          <li><a href="{{ second_previous_crumb_link }}">{{ second_previous_crumb }}</a></li>
          {% endif %}

          {% if previous_crumb %}
          <li><a href="{{ previous_crumb_link }}">{{ previous_crumb }}</a></li>
          {% endif %}
          
          <li class="current">{{ name }}</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->