{% load static dutch_date i18n %}

<div class="service-box">
    <h4>Tijd & Locatie</h4>
    <div class="services-list">
        {% if static_data %}
            <p><i class="bi bi-calendar4-event"></i><span>
                {{ tijd }}
            </span></p>                
            <p><i class="bi bi-geo-alt"></i><span>
                {{ locatie }}
            </span></p>
        {% else %}
            {% if kamp.is_same_day %}
            <p><i class="bi bi-calendar4-event"></i><span>
                {{ kamp.start_datum|dutch_datetime }} - {{ kamp.einde_datum|dutch_time }}
            </span></p>
            {% else %}
            <p><i class="bi bi-calendar4-week"></i><span>
                {{ kamp.start_datum|dutch_datetime }} - {{ kamp.einde_datum|dutch_datetime }}
            </span></p>
            {% endif %}
            <p><i class="bi bi-geo-alt"></i><span>
                {{ kamp.locatie_lang }}
            </span></p>
            {% if kamp.prijs %}
            <p><i class="bi bi-cash"></i><span>
                €{{ kamp.prijs.amount }}
            </span></p>
            {% endif %}
        {% endif %}
    </div>

    {% if not disable_inschrijvingen_knop %}
    {% if kamp.enable_inschrijvingen %}
    {% if kamp.is_in_future and not kamp.is_sold_out %}
        <a href="{% url 'inschrijven_dartskamp' slug=kamp.slug %}" class="btn btn-get-started align-self-start">{% trans "Schrijf je in" %}</a>
    {% else %}
        {% if kamp.is_in_future %}
        <a href="#" class="btn disabled btn-get-started align-self-start">{% trans "Volzet!" %}</a>
        {% else %}
        <a href="#" class="btn disabled btn-get-started align-self-start">{% trans "Schrijf je in" %}</a>
        {% endif %}
    {% endif %}

    {% endif %}
    {% endif %}
    
</div>
