{% load static dutch_date i18n %}

<div class="service-box">
    <h4>Tijd & Locatie</h4>
    <div class="services-list">
        {% if static_data %}
            <p><i class="bi bi-calendar4-event"></i><span>
                {{ tijd }}
            </span></p>                
            <p><i class="bi bi-geo-alt"></i><span>
                {{ locatie }}
            </span></p>
        {% else %}
            {% if toernooi.is_same_day %}
            <p><i class="bi bi-calendar4-event"></i><span>
                {{ toernooi.start_datum|dutch_datetime }} - {{ toernooi.einde_datum|dutch_time }}
            </span></p>
            {% else %}
            <p><i class="bi bi-calendar4-week"></i><span>
                {{ toernooi.start_datum|dutch_datetime }} - {{ toernooi.einde_datum|dutch_datetime }}
            </span></p>
            {% endif %}
            <p><i class="bi bi-geo-alt"></i><span>
                {{ toernooi.locatie_lang }}
            </span></p>
        {% endif %}
    </div>

    {% if not disable_inschrijvingen_knop %}
    {% if toernooi.enable_inschrijvingen %}
    <!-- Inschrijven knop -->
    {% if toernooi.is_in_future and not toernooi.is_sold_out %}
        <a href="{% url 'inschrijven_toernooi' slug=toernooi.slug %}" class="btn btn-get-started align-self-start">Schrijf je in</a>
    {% else %}
        {% if toernooi.is_in_future %}
        <a href="#" class="btn disabled btn-get-started align-self-start">Schrijf je in</a>
        {% else %}
        <a href="#" class="btn disabled btn-get-started align-self-start">Uitverkocht!</a>
        {% endif %}
    {% endif %}

    {% endif %}
    {% endif %}
    
</div>
