{% load static i18n sponsors %}

<footer id="footer" class="footer position-relative light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-{% if sponsors|has_to_show_sponsors_footer %}5{% else %}6{% endif %} col-md-12 footer-about">
        <a href="{% url 'index' %}" class="logo d-flex align-items-center">
          <span class="sitename">ChudartZ</span>
        </a>
        <p>{% trans 'Ondernemingsnummer' %}: 1014.404.917</p>
        <p>{% trans 'Alle transacties gebeuren in €' %}</p>
        <p>{% trans 'Gemaakt door' %}<a href="https://github.com/SDeVuyst/"> SDeVuyst</a>.</p>
        <div class="social-links d-flex mt-4">
          <a href="https://www.facebook.com/profile.php?id=61566584321425"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/chudartz_collectibles/"><i class="bi bi-instagram"></i></a>
          <a href="https://www.tiktok.com/@chudartz_collectibles"><i class="bi bi-tiktok"></i></a>
          <a href="https://chat.whatsapp.com/IEF4LdaZD8yLo1aq5CpslY"><i class="bi bi-whatsapp"></i></a>
          <a href="https://github.com/SDeVuyst/Chudartz"><i class="bi bi-github"></i></a>
        </div>
      </div>

      {% if sponsors|has_to_show_sponsors_footer %}
      <div class="col-lg-2 col-6 footer-links">
        <h4>{% trans 'Sponsors' %}</h4>
        <ul>
          <li><a href="{% url 'sponsors' %}">{% trans 'Alle Sponsors' %}</a></li>
          {% for sponsor in sponsors %}
          {% if sponsor.toon_in_footer %}
          <li><a href="{% url 'sponsors' %}#{{sponsor.naam}}">{{ sponsor.naam }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="col-lg-2 col-6 footer-links">
        <h4>{% trans 'Handige Links' %}</h4>
        <ul>
          <!-- <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'over_ons' %}">{% trans 'Over Ons' %}</a></li> -->
          <li><a href="{% url 'algemene_voorwaarden' %}">{% trans 'Algemene Voorwaarden' %}</a></li>
          <li><a href="{% url 'privacybeleid' %}">{% trans 'Privacybeleid' %}</a></li>
          <li><a href="{% url 'disclaimer' %}">{% trans 'Disclaimer' %}</a></li>
          <li><a href="{% url 'faq' %}">{% trans 'FAQ' %}</a></li>   
        </ul>
      </div>

      <div class="col-lg-{% if sponsors|has_to_show_sponsors_footer %}3{% else %}4{% endif %} col-md-12 footer-contact text-center text-md-start">
        <h4>{% trans 'Contacteer Ons' %}</h4>
        <p>Wilgenlaan 35</p>
        <p>8210, Zedelgem</p>
        <p>België</p>
        <p class="mt-4"><strong>{% trans 'Telefoon' %}:</strong> <span><a href="tel:+32472041891">0472/04.18.91</a></span></p>
        <p><strong>Email:</strong> <span><a href="mailto:chudartz@gmail.com">chudartz@gmail.com</a></span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="sitename">ChudartZ Collectibles</strong> <span>{% trans 'alle rechten voorbehouden' %}</span></p>
  </div>

</footer>

{% if not disable_scroll_top %}
<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endif %}

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/aos/aos.js" %}" defer></script>
<script src="{% static "vendor/glightbox/js/glightbox.min.js" %}"></script>
<script src="{% static "vendor/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}" defer></script>

<!-- Main JS File -->
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/lang_switcher.js" %}"></script>