{% load i18n %}

<div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
    <div class="pricing-item{% if ticket.disable_ticket %} pricing-item--disabled{% endif %}">
        <h3>{{ ticket.titel }}</h3>

        <div class="icon">
            <i class="bi bi-{{ ticket.icon }}"></i>
        </div>

        <h4 class="mb-1"><sup>€</sup>{{ ticket.price.amount }}</h4>

        {% if ticket.disable_ticket %}
        <div class="text-center">
            <span class="badge bg-secondary">{% trans 'Niet beschikbaar' %}</span>
        </div>
        {% elif ticket.is_sold_out %}
        <div class="text-center">
            <span class="badge bg-danger">{% trans 'Uitverkocht' %}</span>
        </div>
        {% endif %}

        <ul>
            {% for voordeel in ticket.voordelen %}
            <li><i class="bi bi-check"></i> <span>{{ voordeel.tekst }}</span></li>
            {% endfor %}

            {% for nadeel in ticket.nadelen %}
            <li class="na"><i class="bi bi-x"></i> <span>{{ nadeel.tekst }}</span></li>
            {% endfor %}
        </ul>
        <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
            {% if ticket.disable_ticket %}
            <span class="buy-btn text-center fw-bold text-nowrap disabled" aria-disabled="true">{% trans 'Niet beschikbaar' %}</span>
            {% elif not evenement.enable_inschrijvingen %}
            <span class="buy-btn text-center fw-bold text-nowrap disabled" aria-disabled="true">{% trans 'Inschrijvingen gesloten' %}</span>
            {% elif evenement.is_sold_out or ticket.is_sold_out %}
            <span class="buy-btn text-center fw-bold text-nowrap disabled" aria-disabled="true">{% trans 'Uitverkocht' %}</span>
            {% else %}
            <a href="{% url 'ticket_kopen' slug=evenement.slug %}" class="buy-btn text-center fw-bold text-nowrap">{% trans 'Koop nu' %}</a>
            {% endif %}
        </div>
    </div>
</div>
