/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widgets-container {
  background-color: var(--surface-color);
  padding: 30px;
  margin: 60px 0 30px 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.widget-title {
  color: var(--heading-color);
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
}

.widget-item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

@import './widgets/_search.scss';
@import './widgets/_categories.scss';
@import './widgets/_recent-posts.scss';
@import './widgets/_tags.scss';