{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Over Ons
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
{% endblock %}

{% block body %}
<body class="over-ons-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% trans "Over Ons" as page_name %}
    {% trans "Onze passie voor darts hebben wij omgezet in een onderneming met als hoofddoel het opstarten van een jeugd dartschool en het organiseren van toernooien. Dit doen we in een warme, huiselijke omgeving waar de focus ligt op het individu, zodat elke speler de aandacht en begeleiding krijgt die hij of zij nodig heeft. Onze missie is om spelers van elk niveau te helpen groeien en een sterke dartgemeenschap op te bouwen." as page_description %}

    {% include 'blocks/page-title.html' with name=page_name description=page_description %}

    <section id="portfolio-details" class="portfolio-details section"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">
            <div class="portfolio-description">
              <h2>{% trans 'Ons logo en inspiratie' %}</h2>
              <p>
                {% blocktrans %}
                ChudartZ is een unieke samensmelting van de <a href="https://chudartz-collectibles.com/" target="_blank">Pokémon</a>- en dartswereld, verrijkt met een speciale Japanse twist.
                {% endblocktrans %}
              </p>
              <ul>
                <li>
                  {% blocktrans %}
                  "Chu" komt van Pikachu, een van de meest iconische Pokémon, en vertegenwoordigt onze sterke band met het Pokémon-universum.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                  “Z” staat voor de krachtige Z-moves uit de Pokémon-games, die symbool staan voor kracht en dynamiek, vergelijkbaar met onze toewijding aan zowel de darts- als de collectibles wereld.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                  “DartZ” verwijst natuurlijk naar darten, een sport uit Engeland waar wij een diepe passie voor hebben.
                  {% endblocktrans %}
                </li>
              </ul>

              <p>
                {% blocktrans %}
                Ons logo, met de naam 'ChudartZ' in het Japans, vangt de unieke mix van darts en Pokémon, met een Japanse stijl die onze culturele verbondenheid en onderscheidende karakter benadrukt.
                {% endblocktrans %}
              </p>

              {% include 'blocks/quote.html' with quote='Een leermeester hoeft niet perfect te zijn, zolang de leerling maar uitblinkt.' image_url='/static/img/quotes/testimonials-2.jpg' name='Frederick De Mey' title=' Eigenaar-coach' %}
              
              <h2 class="pt-5 pb-3">{% trans 'Missie en Visie' %}</h2>

              <h4>{% trans 'Missie' %}</h4>

              <p>
                {% blocktrans %}
                Onze missie is om een plek te creëren in de regio Zedelgem waar jongeren zich kunnen ontwikkelen, hun passie voor darts kunnen ontdekken en zich hierin verder kunnen verfijnen.
                We streven ernaar om in de dartschool jongeren te inspireren, te begeleiden en op een educatieve manier het individuele niveau omhoog te krikken. 
                Door middel van regelmatige trainingen streven we ernaar zowel technische vaardigheden als persoonlijke groei te bevorderen.
                {% endblocktrans %}
              </p>

              <h4>{% trans 'Visie' %}</h4>

              <p>
                {% blocktrans %}
                Onze visie bij ChudartZ is om een toonaangevende plek voor darts te worden, te beginnen met onze jeugd dartschool en zo door te groeien naar onze dartsclub. 
                We willen een inspirerende omgeving creëren waar respect, doorzettingsvermogen en sportiviteit centraal staan. Ons doel is om een broedplaats voor talent te zijn, 
                jongeren te helpen hun passie te ontdekken en hun ambities te realiseren. Tevens streven we ernaar bij te dragen aan de erkenning van darts als volwaardige sport in België 
                en een sterke gemeenschap rond deze prachtige discipline op te bouwen.
                {% endblocktrans %}
              </p>

            </div>
              
          </div>
          
        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}