{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Over Ons
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
{% endblock %}

{% block body %}
<body class="over-ons-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% trans "Over Ons" as page_name %}
    {% trans "Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem." as page_description %}

    {% include 'blocks/page-title.html' with name=page_name description=page_description %}

    <section id="portfolio-details" class="portfolio-details section"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">
            <div class="portfolio-description">
              <h2>{% trans 'Ons logo en inspiratie' %}</h2>
              <p>
                {% blocktrans %}
                ChudartZ is een unieke samensmelting van de <a href="https://chudartz-collectibles.com/" target="_blank">Pokémon</a>- en dartswereld, verrijkt met een speciale Japanse twist.
                {% endblocktrans %}
              </p>
              <ul>
                <li>
                  {% blocktrans %}
                  "Chu" komt van Pikachu, een van de meest iconische Pokémon, en vertegenwoordigt onze sterke band met het Pokémon-universum.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                  “Z” staat voor de krachtige Z-moves uit de Pokémon-games, die symbool staan voor kracht en dynamiek, vergelijkbaar met onze toewijding aan zowel de darts- als de collectibles wereld.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                  “DartZ” verwijst natuurlijk naar darten, een sport uit Engeland waar wij een diepe passie voor hebben.
                  {% endblocktrans %}
                </li>
              </ul>

              <p>
                {% blocktrans %}
                Ons logo, met de naam 'ChudartZ' in het Japans, vangt de unieke mix van darts en Pokémon, met een Japanse stijl die onze culturele verbondenheid en onderscheidende karakter benadrukt.
                {% endblocktrans %}
              </p>

              {% include 'blocks/quote.html' with quote='Een leermeester hoeft niet perfect te zijn, zolang de leerling maar uitblinkt.' image_url='/static/img/quotes/testimonials-2.jpg' name='Frederick De Mey' title='Trainer & Eigenaar' %}
              
              <h2 class="pt-5 pb-3">{% trans 'Missie en Visie' %}</h2>

              <h4>{% trans 'Missie' %}</h4>

              <p>
                {% blocktrans %}
                Onze missie is om een plek te creëren in de regio Zedelgem waar jongeren zich kunnen ontwikkelen, hun passie voor darts kunnen ontdekken en zich hierin verder kunnen verfijnen.
                We streven ernaar om in de dartschool jongeren te inspireren, te begeleiden en op een educatieve manier het individuele niveau omhoog te krikken. 
                Door middel van regelmatige trainingen streven we ernaar zowel technische vaardigheden als persoonlijke groei te bevorderen.
                {% endblocktrans %}
              </p>

              <h4>{% trans 'Visie' %}</h4>

              <p>
                {% blocktrans %}
                Onze visie bij ChudartZ is om een toonaangevende plek voor darts te worden, te beginnen met onze jeugd dartschool en zo door te groeien naar onze dartsclub. 
                We willen een inspirerende omgeving creëren waar respect, doorzettingsvermogen en sportiviteit centraal staan. Ons doel is om een broedplaats voor talent te zijn, 
                jongeren te helpen hun passie te ontdekken en hun ambities te realiseren. Tevens streven we ernaar bij te dragen aan de erkenning van darts als volwaardige sport in België 
                en een sterke gemeenschap rond deze prachtige discipline op te bouwen.
                {% endblocktrans %}
              </p>

              <h2 id="dartschool" class="pt-5 pb-3">Dartschool</h2>
              <ol>
                <li>
                  <h6>{% blocktrans %}Ontwikkeling van Basisvaardigheden:{% endblocktrans %}</h6>
                  <p class="mb-0">{% blocktrans %}Het aanleren van de basisprincipes van darten, zoals{% endblocktrans %}</p>
                  <ul>
                    <li>{% blocktrans %}de juiste houding{% endblocktrans %}</li>
                    <li>{% blocktrans %}de ademhaling{% endblocktrans %}</li>
                  </ul>
                  <p class="mt-3">{% blocktrans %}Dit zorgt ervoor dat leerlingen een solide fundament opbouwen waarop ze hun vaardigheden verder kunnen ontwikkelen.{% endblocktrans %}</p>
                </li>
                <li>
                  <h6>{% blocktrans %}Bevorderen van competitief denken:{% endblocktrans %}</h6>
                  <p>
                    {% blocktrans %}
                    Het stimuleren van een gezonde competitieve geest bij jongeren, waarbij fair play, sportiviteit en zelfverbetering centraal staan. Dit helpt hen om niet alleen beter te worden in darten, maar ook om belangrijke levensvaardigheden te ontwikkelen.
                    {% endblocktrans %}
                  </p>
                </li>
                <li>
                  <h6>{% blocktrans %}Persoonlijke Groei en zelfvertrouwen:{% endblocktrans %}</h6>
                  <p>
                    {% blocktrans %}
                    Het trainen van talentvolle spelers om deel te nemen aan lokale, nationale en wie weet op termijn internationale dartstoernooien.
                    {% endblocktrans %}
                  </p>
                </li>
                <li>
                  <h6>{% blocktrans %}Voorbereiden op Competitieve Darts:{% endblocktrans %}</h6>
                  <p>
                    {% blocktrans %}
                    Het stimuleren van een gezonde competitieve geest bij jongeren, waarbij fair play, sportiviteit en zelfverbetering centraal staan. Dit helpt hen om niet alleen beter te worden in darten, maar ook om belangrijke levensvaardigheden te ontwikkelen.
                    {% endblocktrans %}
                  </p>
                </li>
                <li>
                  <h6>{% blocktrans %}Creëren van Gemeenschapsgevoel:{% endblocktrans %}</h6>
                  <p>
                    {% blocktrans %}
                    Het opbouwen van een hechte en ondersteunende gemeenschap waar spelers van alle leeftijden en niveaus elkaar kunnen inspireren, ondersteunen en samen plezier kunnen hebben. Dit bevordert een gevoel van samenhorigheid en gedeelde passie.
                    {% endblocktrans %}
                  </p>
                </li>
                <li>
                  <h6>{% blocktrans %}Educatieve en Leuke Activiteiten:{% endblocktrans %}</h6>
                  <p>
                    {% blocktrans %}
                    Het aanbieden van educatieve workshops, toernooien en andere activiteiten om het leren leuk te maken en tegelijkertijd de vaardigheden en kennis van de deelnemers te vergroten.
                    {% endblocktrans %}
                  </p>
                </li>
                <li>
                  <h6>{% blocktrans %}Mentorschap:{% endblocktrans %}</h6>
                  <p>
                    {% blocktrans %}
                    Het bieden van mentorschap aan jongere spelers door ervaren dartspelers (binnen de school), wat niet alleen hun dartvaardigheden verbetert, maar hen ook leert om te groeien binnen de dartsgemeenschap.
                    {% endblocktrans %}
                  </p>
                </li>
                <li>
                  <h6>{% blocktrans %}Fysieke en mentale gezondheid bevorderen:{% endblocktrans %}</h6>
                  <ul>
                    <li>
                      {% blocktrans %}
                      Het bevorderen van zowel de fysieke als mentale gezondheid door het aanmoedigen van regelmatige fysieke activiteit, concentratie, en stressmanagement via darten.
                      {% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}
                      Hoofdrekenen is een essentieel onderdeel van het darten, waardoor je niet alleen je rekenvaardigheden aanscherpt, maar ook je algemene concentratie en strategisch inzicht verbetert.
                      {% endblocktrans %}
                    </li>
                  </ul>
                    
                </li>
              </ol>

              <p class="mt-5">
                {% blocktrans %}
                Met deze doelen biedt een dartschool niet alleen technische training, maar ook een platform voor persoonlijke en sociale ontwikkeling.
                {% endblocktrans %}
              </p>

              <p>
                {% blocktrans %}
                Voeg daar nog een dosis theorie met specifieke dartsterminologie aan toe, en voor je het weet, schitter je op toernooien.
                {% endblocktrans %}
              </p>

              <p><strong>
                {% blocktrans %}
                Met alle aangereikte tools en het ter beschikking stellen van de accommodatie zijn jullie nu zelf aan zet.
                Want het pijltje zal uiteindelijk door jullie zelf gegooid moeten worden.<br><br>
                Succes!
                {% endblocktrans %}
              </strong></p>
            </div>
              
          </div>
          
        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}