{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Algemeen Reglement
{% endblock %}

{% block meta %}
<meta NAME="robots" CONTENT="noindex, nofollow">
{% endblock %}

{% block body %}
<body class="disclaimer-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Algemeen Reglement" as page_name %}

    {% include 'blocks/page-title.html' with name=page_name %}

    <section id="portfolio-details" class="portfolio-details section"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">
            <div class="portfolio-description">
                <h2>{% trans 'Deelnemen aan darttoernooien ingericht door ChudartZ' %}</h2>
                <p>
                  <p>{% trans 'Termen:' %}</p>
                  <ul>
                    <li>
                      {% trans 'Singles (enkel): Dit kunnen mannen of vrouwen zijn vanaf 10 jaar tot …' %}
                    </li>
                    <li>
                      {% trans 'Koppel: Dit kunnen mannen, vrouwen of gemengde teams zijn vanaf 10 jaar tot …' %}
                    </li>
                    <li>
                      {% trans 'Jeugd: Geschikt voor zowel jongens als meisjes van 10 tot 18 jaar.' %}
                    </li>
                  </ul>

                  <p>{% trans 'Regels:' %}</p>
                  <ul>
                    <li>
                      {% blocktrans %}
                      Jeugdspelers worden alleen toegelaten tot de jeugdcategorie als ze de leeftijd van 18 jaar nog niet bereikt 
                      hebben op datum van het evenement.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}De leeftijd wordt gecontroleerd a.d.h.v. de identiteitskaart of een gelijkwaardig document bij het inchecken. Als 
                      een speler 18 jaar geworden is (of ouder is) op de dag van het toernooi, wordt de speler geweigerd voor het 
                      jeugd darttoernooi en is er geen recht op teruggave van het inschrijfgeld.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Het is de verantwoordelijkheid van de speler/ouder of voogd om dit van tevoren te controleren.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Zodra een ticket/inschrijving is gekocht voor de "jeugd" categorie, gaat de speler akkoord met de regels 
                      vermeld in de vorige 3 punten.{% endblocktrans %}
                    </li>
                  </ul>
                </p>

                <h2 class="pt-5">{% trans 'Aanmelden' %}</h2>
                <p>
                  <ul>
                    <li>
                      {% blocktrans %}Alle spelers moeten zich 15 minuten voor aanvang van het toernooi aanmelden.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Als een speler zich niet 15 minuten van tevoren aanmeldt, kan zijn plaats/ticket voor het toernooi worden 
                      doorverkocht aan aanwezige deelnemers zonder geldig deelnameticket, en zeker als het toernooi volledig is 
                      volgeboekt.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Toegestane aantal spelers: Afhankelijk van het toernooi: zie website voor exacte aantallen !{% endblocktrans %}
                    </li>
                  </ul>
                </p>

                <h2 class="pt-5">{% trans 'Gedrag tijdens het toernooi' %}</h2>
                <p>
                  {% blocktrans %}Tijdens een wedstrijd moeten spelers zich respectvol gedragen tegenover andere spelers en zich onthouden 
                  van het irriteren van andere spelers, het gebruik van beledigende taal of gebaren, en onsportief gedrag, zoals 
                  opzettelijk een leg of wedstrijd verliezen, opzettelijk een wedstrijd uitstellen of het verstoren van de worp van 
                  andere spelers.{% endblocktrans %}<br>

                  {% blocktrans %}Dit geldt ook t.a.v. de caller, marker(s).{% endblocktrans %}<br><br>

                  {% blocktrans %}Tijdens de toernooien werken we met aangewezen callers/markers.{% endblocktrans %}
                  <ul>
                    <li>
                      {% blocktrans %}In de poulefase zal voor elke wedstrijd een speler/team worden aangewezen om de rol van marker/caller 
                      te vervullen.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}In de knock-outfase zal de toernooileiding scheidsrechters aanstellen voordat de knock-outs beginnen. 
                      Ook indien er met een A- en een B-ronde wordt gewerkt.{% endblocktrans %}
                    </li>
                  </ul>

                  {% blocktrans %}Spelers die zich niet houden aan de ‘gedragsregels’ kunnen worden gestraft door de toernooileiding.{% endblocktrans %}<br>
                  {% trans 'Mogelijke sancties:' %}
                  <ul>
                    <li>
                      {% blocktrans %}Forfait voor de betreffende wedstrijd{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Uitsluiting van prijzengeld{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Uitsluiting van het toernooi{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Uitsluiting van komende toernooien georganiseerd door ChudartZ{% endblocktrans %}
                    </li>
                  </ul> 
                </p>

                <h2 class="pt-5">{% trans 'Loting' %}</h2>
                <p>
                  <ul>
                    <li>
                      {% blocktrans %} Poules worden voorafgaand aan het toernooi geloot.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Poules bestaan uit 4,5 of 6 spelers, afhankelijk van het toernooi, het aantal inschrijvingen, dubbel of enkel. Zie 
                      details website: www.chudartz.com{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Al naargelang het toernooi gaat de ‘eerste van de poule’, de beste 2 van de poule of de best geplaatste 
                      tweedes en/of derdes door naar de volgende ronde of A-reeks. {% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Details afhankelijk van het toernooi zijn terug te vinden op de website.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Eenmaal het toernooi is begonnen, zijn er geen vervangers meer toegestaan.{% endblocktrans %}
                    </li>
                  </ul>
                </p>

                <h2 class="pt-5">{% trans 'Worp' %}</h2>
                <p>
                  <ul>
                    <li>
                      {% blocktrans %}Spelers moeten hun eigen darts voorzien die niet langer mogen zijn dan 30,5 cm totale lengte en niet meer 
                      dan 50 gram wegen.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Alle pijlen moeten opzettelijk, één voor één, met het naaldpunt naar voren, bovenhands uit de hand worden 
                      gegooid.{% endblocktrans %}
                    </li>
                    <li>
                      {% trans "Een worp bestaat uit maximaal 'drie' darts." %}
                    </li>
                    <li>
                      {% blocktrans %}Als een speler tijdens een worp een dart aanraakt die zich in het dartbord bevindt, wordt die worp als voltooid 
                      beschouwd.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Dartpijlen die uit het dartbord vallen, mogen niet opnieuw worden gegooid, ook niet als het om een ‘bouncer’ 
                      gaat (vb. raakt de ijzerdraad of een andere pijl en valt op de grond).{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Darts die uit het dartbord vallen voordat de worp is voltooid, tellen niet mee.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Voordat de darts worden opgehaald na het voltooien van een worp, is het NIET toegestaan voor een speler of 
                      scorekeeper om een dart (of darts) in het bord te duwen om te voorkomen dat ze eruit vallen. Mocht dit 
                      gebeuren, dan worden de beïnvloede darts niet meegeteld.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Van zodra de score (puntenaantal) ‘genoemd’ werden door de caller en er valt alsnog een pijl uit het bord, dan 
                      tellen de genoemde punten.{% endblocktrans %}
                    </li>
                  </ul>
                </p>

                <h2 class="pt-5">{% trans "'Bord' & 'Oche' of werplijn" %}</h2>
                <p>
                  <ul>
                    <li>
                      {% blocktrans %}Het dartbord moet zodanig worden bevestigd dat de verticale hoogte vanaf de vloer tot aan een horizontale 
                      lijn door het midden van de "Bull" 1,73 meter meet.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}De diagonale afstand van het middelpunt van de bull tot de achterkant van de oche op vloerniveau moet 2,93 
                      meter zijn.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Tijdens een wedstrijd mag geen enkele speler op enig deel van de verhoogde oche stappen, tenzij de speler 
                      zijn darts terughalen uit het dartbord.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Bij het gooien van de darts naar het dartbord moeten de voeten van de werpende speler te allen tijde achter 
                      de oche blijven.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Een speler die een dart gooit vanuit een positie aan weerszijden van de verhoogde oche moet zijn of haar 
                      voeten achter een denkbeeldige rechte lijn houden die zich uitstrekt aan weerszijden van de verhoogde oche.{% endblocktrans %}
                    </li>
                  </ul>
                </p>

                <h2 class="pt-5">{% trans 'Start en einde match' %}</h2>
                <p>
                  <ul>
                    <li>
                      {% blocktrans %}Niemand mag het speelveld betreden, behalve de scheidsrechter, ‘caller’, marker(s), scorer(s), elektronische 
                      indicatoroperatoren en de aangewezen spelers.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Een wedstrijd kan pas beginnen als beide spelers en een schrijver/caller aanwezig zijn.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Om te bepalen wie de match mag starten, gooien beide spelers één dart naar de "bull". De speler die als 
                      eerste naam staat ingevuld op het wedstrijdkaartje begint te ‘bullen’. De speler die het dichtst bij de "inner 
                      bull" gooit, zal starten aan de eerste leg.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Indien de eerste speler in de inner of outer bull gooit, zal deze speler zijn dart verwijderen zodat de tweede 
                      speler een vrije bull heeft om naar te gooien.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Als tijdens het gooien naar de bull een bouncer plaatsvindt of de dart uit het dartbord valt, mag men opnieuw 
                      1 pijl naar de bull gooien.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Als beide spelers de inner of outer bull niet raken, mag de speler die het dichtst bij de bull zit, beginnen.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Bij twijfel of gelijke afstand van de inner of outer bull, zullen beide spelers opnieuw bullen.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Om te beginnen met scoren, hoeft de speler alleen zijn darts te laten landen op het dartsbord binnen de 
                      buitenste dubbele draad.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Elke wedstrijd of leg wordt gespeeld met een dubbele finish, d.w.z. om te winnen en uit te gooien moet een 
                      dart landen in de dubbele (Double Ring of Bull) van het getal gelijk aan de helft van de resterende score.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}De Bull (inner bull, rood) telt als "50" en als de score vereist is voor "50" om een leg of wedstrijd te voltooien. 
                      De Bull (inner bull, rood) telt dus eigenlijk als dubbel "25”.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}De Bust Rule is van toepassing, dat wil zeggen, als een speler in een worp meer punten scoort dan nodig zijn 
                      om de leg of match te winnen, of dezelfde punten scoort zonder op een dubbel te eindigen, of een score 
                      achterlaat van één, dan telt die worp niet en blijft de score zoals die was voor de worp.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}De eerste speler die eindigt door de vereiste double out te verkrijgen, wordt de winnaar van die leg, set of 
                      wedstrijd, afhankelijk van wat van toepassing is. Een dart gegooid door een speler na het voltooien telt niet 
                      mee.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}In een wedstrijd of set verdeeld in legs, wordt de wedstrijd of set gespeeld als 'best of drie’ (vijf, zeven, enz.) 
                      legs. Bijvoorbeeld, de eerste speler die een meerderheid van het gegeven aantal legs wint, moet de winnaar van 
                      de wedstrijd of set zijn, en de resterende legs, indien aanwezig, mogen niet meer worden gespeeld.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Na afloop van de wedstrijd zal de schrijver/marker de uitslag melden aan de wedstrijdtafel.{% endblocktrans %}
                    </li>
                  </ul>
                </p>

                <h2 class="pt-5">{% trans 'Scoring' %}</h2>
                <p>
                  <ul>
                    <li>
                      {% blocktrans %}Tijdens de toernooien gebruikt men wedstrijden of legs met een vast oneven aantal, meest voor de hand 
                      liggende 501, maar afwijkend kan ook van 301, 701 of 1001 gespeeld worden. Alle gemaakte scores worden 
                      afgetrokken van het totale gegeven aantal of de score die overblijft na de vorige worp.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Een dartpijl scoort alleen als het punt in het dartbord blijft of het oppervlak van het dartbord raakt binnen de 
                      buitenste dubbele draad, nadat de worp is voltooid en de score is aangekondigd en/of genoteerd op het 
                      scorebord.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Darts worden uit het dartbord gehaald door de werper, behalve in gevallen waarin een fysieke handicap of 
                      letsel vereist dat een speler assistentie krijgt, maar alleen nadat de score is vastgelegd door de marker.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Protesten met betrekking tot een behaalde score kunnen niet worden ingediend nadat de score is vastgelegd 
                      door de marker en de darts zijn opgehaald. Als een onjuiste score leidt tot een leg-overwinning, blijft het 
                      resultaat staan.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Rekenfouten blijven zoals ze op het scorebord staan, tenzij ze vóór de volgende worp van de speler wiens 
                      score fout is, worden gecorrigeerd.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}De werkelijke score die een speler nodig heeft, moet duidelijk zichtbaar op ooghoogte op het scorebord 
                      worden weergegeven, zowel voor de spelers als voor de Board Marker.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Er mag geen indicatie worden gegeven van de vereiste 'double out' door de scheidsrechter, caller, marker of 
                      scorer, bijvoorbeeld '32' niet 'dubbel 16'.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}De Board Marker treedt op als scheidsrechter in alle zaken met betrekking tot de spelregels van het 
                      organiseren van een dartswedstrijd en zal indien nodig overleg plegen met de aangewezen toernooiofficials 
                      voordat beslissingen worden genomen die invloed hebben op een wedstrijd.{% endblocktrans %}
                    </li>
                  </ul>
                </p>

                <h2 class="pt-5">{% trans 'Tijdens de wedstrijd' %}</h2>
                <p>
                  <ul>
                    <li>
                      {% blocktrans %}De dartpijlen mogen pas uit het bord verwijderd worden nadat de caller de score/checkout heeft vastgesteld 
                      en opgeschreven.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Als men 1 of meerdere darts voorafgaand aan het vaststellen van de score/checkout uit het dartbord haalt, zal 
                      deze beurt beschouwd worden als een no-score (0 punten aftrek).{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}De spelers worden geacht na elke beurt, die op het scorebord genoteerd wordt, overeen te komen met de 
                      gegooide waarde.{% endblocktrans %}
                    </li>
                    <li>
                      {% blocktrans %}Latere beslissingen over foutief rekenen/verkeerd genoteerde scores kunnen niet meer gewijzigd worden, 
                      tenzij beide spelers akkoord gaan.{% endblocktrans %}
                    </li>
                  </ul>
                </p>
                
            </div>
          </div>

        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}