{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Algemene Voorwaarden
{% endblock %}

{% block meta %}
<meta NAME="robots" CONTENT="noindex, nofollow">
{% endblock %}

{% block body %}
<body class="disclaimer-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Algemene Voorwaarden" as page_name %}

    {% include 'blocks/page-title.html' with name=page_name description='De Algemene Voorwaarden zijn van toepassing op elk evenement dat door ChudartZ wordt georganiseerd (zoals toernooien, dartschool, teambuilding, enz.).' %}


    <section id="portfolio-details" class="portfolio-details section"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">
            <div class="portfolio-description">

                <h2>{% trans 'Inschrijving en deelname' %}</h2>
                <p>
                    <ul>
                        <li>
                            {% blocktrans %}Deelname aan het toernooi/dartschool is alleen geldig na succesvolle inschrijving en betaling van het 
                            inschrijfgeld.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Door zich in te schrijven verklaart de deelnemer naar eer en geweten dat alle verstrekte informatie 
                            juist en volledig is. De deelnemer accepteert alle verantwoordelijkheden die voortvloeien uit 
                            deelname aan het evenement, inclusief het naleven van de regels en het nemen van de nodige 
                            voorzorgsmaatregelen.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Inschrijvingen zijn persoonlijk en kunnen niet worden overgedragen aan anderen.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}De inschrijvingsdeadline wordt strikt nageleefd. Laatkomers kunnen worden geweigerd.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Een annulering van een geboekte les op de dag zelf leidt niet tot terugbetaling van de beurt, tenzij er sprake is van overmacht, zoals (ernstige) ziekte, overlijden familielid, … .{% endblocktrans %}
                        </li>
                    </ul>                  
                </p>

                <h2 class="pt-5">{% trans 'Leeftijdsbeperkingen' %}</h2>
                <p>
                    <ul>
                        <li>
                            {% blocktrans %}Deelnemers kunnen vanaf de leeftijd van 10 jaar deelnemen aan het toernooi/dartschool, m.u.v. uitzonderlijke, jongere talenten.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Minderjarige deelnemers dienen bij de inschrijving toestemming te hebben van een ouder of voogd.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Na de inschrijving zal het ‘toestemmingsformulier minderjarige deelnemers’ schriftelijk door 1 van de ouders 
                            of de voogd worden ingevuld en ondertekend.{% endblocktrans %}
                        </li>
                    </ul>
                </p>

                <h2 class="pt-5">{% trans 'Regels en gedragscode' %}</h2>
                <p>
                    <ul>
                        <li>
                            {% blocktrans %}Alle deelnemers moeten zich houden aan de officiële dartregels, waaronder ook de dartregels die 
                            werden opgesteld door de toernooiorganisatie.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Onsportief gedrag, inclusief verbaal of fysiek misbruik, leidt tot onmiddellijke diskwalificatie zonder 
                            terugbetaling van inschrijfgeld.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}De organisatie behoudt zich het recht voor om deelnemers die zich niet aan de regels houden, uit te 
                            sluiten van verdere deelname aan het toernooi of andere evenementen ingericht door de 
                            organisator.{% endblocktrans %}
                        </li>
                    </ul>
                </p>

                <h2 class="pt-5">{% trans 'Gebruik van materiaal' %}</h2>
                <p>
                    <ul>
                        <li>
                            {% blocktrans %}Deelnemers dienen hun eigen dartpijlen mee te brengen die voldoen aan de gestelde specificaties.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Schade aan de locatie of apparatuur door een deelnemer zal op kosten van de deelnemer worden 
                            hersteld.{% endblocktrans %}
                        </li>
                    </ul>
                </p>

                <h2 class="pt-5">{% trans 'Verantwoordelijkheid, verzekering, aansprakelijkheid en rechtsbijstand' %}</h2>
                <p>
                    <ul>
                        <li>
                            {% blocktrans %}De organisatie is niet verantwoordelijk voor verlies, diefstal, of schade aan persoonlijke 
                            eigendommen van deelnemers.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Deelname aan het toernooi is geheel op eigen risico. De organisatie is niet aansprakelijk voor 
                            eventuele verwondingen of ongevallen, tenzij deze direct te wijten is aan opzet of grove nalatigheid 
                            van de organisator.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Deelnemers kunnen mogelijk een beroep doen op hun eigen verzekering, zoals een 
                            aansprakelijkheids- of ongevallenverzekering, voor dekking van schade die zij hebben veroorzaakt 
                            of opgelopen.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}De organisatie is enkel aansprakelijk voor gebeurtenissen (die te wijten zijn aan opzet of grove 
                            nalatigheid van de organisator) tijdens het evenement zelf, maar nooit voor incidenten onderweg 
                            naar of terug van het evenement.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Deelnemers dienen zich bewust te zijn van hun eigen fysieke en mentale gesteldheid en 
                            verantwoordelijk te handelen.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}De organisatie behoudt zich het recht voor om de toernooilocatie, het schema of andere aspecten 
                            van het toernooi te wijzigen indien noodzakelijk, met of zonder voorafgaande kennisgeving, 
                            afhankelijk van externe factoren waarover de organisatie geen volledige controle heeft.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}In geval van overmacht (bijvoorbeeld pandemieën, natuurgeweld) kan het toernooi worden 
                            uitgesteld of geannuleerd zonder restitutie van inschrijfgeld.{% endblocktrans %}
                        </li>
                    </ul>
                </p>

                <h2 class="pt-5">{% trans 'Privacy en gebruik van beeldmateriaal' %}</h2>
                <p>
                    <ul>
                        <li>
                            {% blocktrans %}Door deel te nemen aan het toernooi en/of het betreden van een evenement gaat u akkoord met het 
                            feit dat u gefotografeerd of gefilmd kunt worden en dat deze beelden gebruikt kunnen worden voor 
                            promotionele doeleinden zonder enige compensatie.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Persoonlijke gegevens die tijdens de inschrijving worden verzameld, worden uitsluitend gebruikt 
                            voor de organisatie van het toernooi en niet gedeeld met derden, behalve voor het publiceren van 
                            een rangschikking met de namen van de deelnemers op de website van de organisator.{% endblocktrans %}
                        </li>
                    </ul>
                </p>

                <h2 class="pt-5">{% trans 'Disputen' %}</h2>
                <p>
                    <ul>
                        <li>
                            {% blocktrans %}Eventuele geschillen die voortkomen uit de deelname aan het toernooi worden voorgelegd aan de 
                            organisatie, wiens beslissing bindend is.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Geschillen over de spelregels worden onmiddellijk beslecht door de aangewezen scheidsrechter.{% endblocktrans %}
                        </li>
                    </ul>
                </p>

                <h2 class="pt-5">{% trans 'Wijzigingen en aanpassingen' %}</h2>
                <p>
                    <ul>
                        <li>
                            {% blocktrans %}De organisatie behoudt zich het recht voor om deze algemene voorwaarden op elk moment te 
                            wijzigen. Eventuele wijzigingen worden voorafgaand aan het toernooi gecommuniceerd.{% endblocktrans %}
                        </li>
                    </ul>
                </p>

                <h2 class="pt-5">{% trans 'Acceptatie van de voorwaarden' %}</h2>
                <p>
                    <ul>
                        <li>
                            {% blocktrans %}Door deel te nemen aan het toernooi, accepteert de deelnemer automatisch de bovenstaande 
                            algemene voorwaarden{% endblocktrans %}
                        </li>
                    </ul>
                </p>
                
            </div>
          </div>

        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}