{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block title %}
ChudartZ | {{ toernooi.titel}} Inschrijven
{% endblock %}


{% block meta %}
<meta name="robots" content="index, follow">
<!-- TODO -->
<meta property="og:title" content="ChudartZ | Dartschool Reserveren">
<meta property="og:description" content="TODO">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | Dartschool">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js?render=6LfebC8qAAAAAEQpGOujwPZHPtijR5u2k2CNqtmV"></script>
{% endblock %}

{% block body %}
<body class="dartschool-inschrijven-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Reserveren" as page_name %}
    {% trans "Dartschool" as page_description %}
    {% trans "Dartschool" as page_previous_crumb %}
    {% trans "/dartschool" as page_previous_crumb_link %}
    
    {% include 'blocks/page-title.html' with name=page_name description=page_description previous_crumb=page_previous_crumb previous_crumb_link=page_previous_crumb_link %}

    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            
            {% trans "maandag t.e.m. donderdag van 19u tot 21.15u" as page_tijd %}
            {% trans "Wilgenlaan 35, Zedelgem" as page_locatie %}

            {% include 'blocks/tijd-en-locatie.html' with static_data='true' tijd=page_tijd locatie=page_locatie %}

            {% include 'blocks/vereisten.html' with vereisten=vereisten %}

          </div>
          
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box register">
              <h4>{% trans 'Reserveer je privéles' %}</h4>

              <form id="register-form" class="register-form" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">
            
                    <!-- Code -->
                    <div class="col-md-12">
                        <input type="text" name="code" class="form-control" placeholder="{% trans 'Uw persoonlijke code' %}" maxlength="6" required>
                    </div>

                    <div class="col-md-12">
                        <p class="form-check-label text-muted small">
                          {% url 'gratis_proefles' as proefles_url %}
                          {% blocktrans %}U kan <a href="{{ proefles_url }}">hier</a> een gratis proefles aanvragen.{% endblocktrans %}<br>
                          {% url 'beurtkaart_kopen' as beurtkaart_url %}
                          {% blocktrans %}Heeft u nog geen toegangscode? Die kan u <a href="{{ beurtkaart_url }}">hier</a> verkrijgen.{% endblocktrans %}
                        </p>
                    </div>

                    <div class="col-md-12 m-0">
                      <div class="loading form-check-label text-muted small" style="display:none;">{% trans 'Laden...' %}</div>
                      <div class="error-message form-check-label text-muted small" style="display:none;"></div>
                    </div>
                    
                    <!-- captcha -->
                    <input type="hidden" name="recaptcha_token" id="recaptcha_token">

                    <!-- Submit Button -->
                    <div class="col-12 text-center">
                        <button type="submit" id="submit-button">{% trans 'Kies Datum' %}</button>
                    </div>
                    
                </div>
              </form>
            
            </div>

            <div class="service-box mt-0" style="display: none;" id="cal-box">
              <h4>{% trans 'U heeft nog' %} <span id="resterende-beurten"></span> {% trans 'resterende beurten.' %}</h4>
              <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline">
                <!-- Cal.com embed will be injected here after form submission -->
              </div>
              <script type="text/javascript">
                (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
              </script>
              
            </div>

          </div>          

        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' with disable_scroll_top="true" %} 

  <script>

    document.addEventListener('DOMContentLoaded', function() {
    grecaptcha.ready(function() {

      const loadingMessage = document.querySelector('.loading');
      const errorMessage = document.querySelector('.error-message');

      document.getElementById('register-form').addEventListener('submit', function(event) {
        event.preventDefault();
        grecaptcha.execute('6LfebC8qAAAAAEQpGOujwPZHPtijR5u2k2CNqtmV', {action: 'submit'}).then(function(token) {

        const formBox = document.querySelector('.service-box.register');
        const calBox = document.getElementById('cal-box');
    
        // Collect the user's data from the form fields
        const code = document.querySelector('input[name="code"]').value;
        loadingMessage.style.display = 'block';

        // fetch the student object
        fetch(`/nl/leerling/${encodeURIComponent(code)}?recaptcha_token=${encodeURIComponent(token)}`, {
          method: 'GET',
          headers: {
              'X-Requested-With': 'XMLHttpRequest', // Indicate AJAX request
          }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            loadingMessage.style.display = 'none';
            if (data.success) {
              // Create a URL with query parameters for Cal.com
              const calLink = `chudartz/dartschool?firstName=${encodeURIComponent(data.voornaam)}&lastName=${encodeURIComponent(data.achternaam)}&email=${encodeURIComponent(data.email)}&code=${encodeURIComponent(code)}`;
              
              // display resterende beurten
              document.getElementById('resterende-beurten').innerHTML = data.resterende_beurten;

              // Add a fade-out animation to the form
              formBox.style.transition = 'opacity 0.25s ease';
              formBox.style.opacity = 0;

              // After the fade-out animation ends, hide the form and show the calendar
              setTimeout(() => {
                formBox.style.display = 'none';

                // Inject the Cal.com iframe with the prefilled data
                Cal("init", "dartschool", {origin:"https://cal.com"});
                      
                Cal.ns.dartschool("inline", {
                  elementOrSelector:"#my-cal-inline",
                  calLink: calLink,
                  layout: "month_view"
                });

                Cal.ns.dartschool("ui", {"theme":"light","styles":{"branding":{"brandColor":"#c3111a"}},"hideEventTypeDetails":false,"layout":"month_view"});
                
                // Show the calendar box with a fade-in animation
                calBox.style.display = 'block';
                calBox.style.opacity = 0;
                calBox.style.transition = 'opacity 0.25s ease';

                setTimeout(() => {
                  calBox.style.opacity = 1;
                }, 50); // Slight delay to trigger the transition

              }, 250)
              
            } else {
                errorMessage.textContent = data.error || 'Er is iets misgegaan. Probeer binnen een paar minuten opnieuw.';
                errorMessage.style.display = 'block';
            }
          })

        .catch(() => {
            loadingMessage.style.display = 'none';
            errorMessage.textContent = 'Er is iets misgegaan. Probeer binnen een paar minuten opnieuw.';
            errorMessage.style.display = 'block';
        })});

      });
      
    })
  });

    
  </script>

</body>
{% endblock %}
