{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Dartschool
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
{% endblock %}

{% block body %}
<body class="over-ons-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% trans "Meer Info" as page_name %}
    {% trans "Ben je klaar om je dartskills naar een hoger niveau te tillen? Welkom bij ChudartZ! De plek waar jongeren kunnen samenkomen om de kunst van het darten te leren en perfectioneren!" as page_description %}
    {% trans "Dartschool" as page_previous_crumb %}
    {% trans "/dartschool" as page_previous_crumb_link %}
    
    {% include 'blocks/page-title.html' with name=page_name description=page_description previous_crumb=page_previous_crumb previous_crumb_link=page_previous_crumb_link backgroundsecond="true" %}
    
    <section id="portfolio-details" class="portfolio-details section"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4">
          <h2 id="dartschool">Dartschool</h2>
          <ol>
            <li>
              <h6>{% blocktrans %}Ontwikkeling van Basisvaardigheden:{% endblocktrans %}</h6>
              <p class="mb-0">{% blocktrans %}Het aanleren van de basisprincipes van darten, zoals{% endblocktrans %}</p>
              <ul>
                <li>{% blocktrans %}de juiste houding{% endblocktrans %}</li>
                <li>{% blocktrans %}de ademhaling{% endblocktrans %}</li>
                <li>{% blocktrans %}de worptechniek{% endblocktrans %}</li>
                <li>{% blocktrans %}de oog- handcoördinatie{% endblocktrans %}</li>
                <li>{% blocktrans %}de focus{% endblocktrans %}</li>
              </ul>
              <p class="mt-3">{% blocktrans %}Dit zorgt ervoor dat leerlingen een solide fundament opbouwen waarop ze hun vaardigheden verder kunnen ontwikkelen.{% endblocktrans %}</p>
            </li>
            <li>
              <h6>{% blocktrans %}Bevorderen van competitief denken:{% endblocktrans %}</h6>
              <p>
                {% blocktrans %}
                Het stimuleren van een gezonde competitieve geest bij jongeren, waarbij fair play, sportiviteit en zelfverbetering centraal staan. Dit helpt hen om niet alleen beter te worden in darten, maar ook om belangrijke levensvaardigheden te ontwikkelen.
                {% endblocktrans %}
              </p>
            </li>
            <li>
              <h6>{% blocktrans %}Persoonlijke Groei en zelfvertrouwen:{% endblocktrans %}</h6>
              <p>
                {% blocktrans %}
                Het trainen van talentvolle spelers om deel te nemen aan lokale, nationale en wie weet op termijn internationale dartstoernooien.
                {% endblocktrans %}
              </p>
            </li>
            <li>
              <h6>{% blocktrans %}Voorbereiden op Competitieve Darts:{% endblocktrans %}</h6>
              <p>
                {% blocktrans %}
                Het stimuleren van een gezonde competitieve geest bij jongeren, waarbij fair play, sportiviteit en zelfverbetering centraal staan. Dit helpt hen om niet alleen beter te worden in darten, maar ook om belangrijke levensvaardigheden te ontwikkelen.
                {% endblocktrans %}
              </p>
            </li>
            <li>
              <h6>{% blocktrans %}Creëren van Gemeenschapsgevoel:{% endblocktrans %}</h6>
              <p>
                {% blocktrans %}
                Het opbouwen van een hechte en ondersteunende gemeenschap waar spelers van alle leeftijden en niveaus elkaar kunnen inspireren, ondersteunen en samen plezier kunnen hebben. Dit bevordert een gevoel van samenhorigheid en gedeelde passie.
                {% endblocktrans %}
              </p>
            </li>
            <li>
              <h6>{% blocktrans %}Educatieve en Leuke Activiteiten:{% endblocktrans %}</h6>
              <p>
                {% blocktrans %}
                Het aanbieden van educatieve workshops, toernooien en andere activiteiten om het leren leuk te maken en tegelijkertijd de vaardigheden en kennis van de deelnemers te vergroten.
                {% endblocktrans %}
              </p>
            </li>
            <li>
              <h6>{% blocktrans %}Mentorschap:{% endblocktrans %}</h6>
              <p>
                {% blocktrans %}
                Het bieden van mentorschap aan jongere spelers door ervaren dartspelers (binnen de school), wat niet alleen hun dartvaardigheden verbetert, maar hen ook leert om te groeien binnen de dartsgemeenschap.
                {% endblocktrans %}
              </p>
            </li>
            <li>
              <h6>{% blocktrans %}Fysieke en mentale gezondheid bevorderen:{% endblocktrans %}</h6>
              <ul>
                <li>
                  {% blocktrans %}
                  Het bevorderen van zowel de fysieke als mentale gezondheid door het aanmoedigen van regelmatige fysieke activiteit, concentratie, en stressmanagement via darten.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                  Hoofdrekenen is een essentieel onderdeel van het darten, waardoor je niet alleen je rekenvaardigheden aanscherpt, maar ook je algemene concentratie en strategisch inzicht verbetert.
                  {% endblocktrans %}
                </li>
              </ul>
                
            </li>
          </ol>

          <p class="mt-5">
            {% blocktrans %}
            Met deze doelen biedt een dartschool niet alleen technische training, maar ook een platform voor persoonlijke en sociale ontwikkeling.
            {% endblocktrans %}
          </p>

          <p>
            {% blocktrans %}
            Voeg daar nog een dosis theorie met specifieke dartsterminologie aan toe, en voor je het weet, schitter je op toernooien.
            {% endblocktrans %}
          </p>

          <p><strong>
            {% blocktrans %}
            Met alle aangereikte tools en het ter beschikking stellen van de accommodatie zijn jullie nu zelf aan zet.
            Want het pijltje zal uiteindelijk door jullie zelf gegooid moeten worden.<br><br>
            Succes!
            {% endblocktrans %}
          </strong></p>
        </div>
      </div>
    </section>

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}