{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js?render=6LfebC8qAAAAAEQpGOujwPZHPtijR5u2k2CNqtmV"></script>
{% endblock %}

{% block title %}
ChudartZ | 1ste les gratis
{% endblock %}


{% block meta %}
<meta name="robots" content="noindex, nofollow">
<meta property="og:title" content="ChudartZ | Dartschool">
<meta property="og:description" content="Wil jij je dartskills aanscherpen of gewoon ontdekken of darten iets voor jou is? Schrijf je dan nu in voor een gratis proefles!">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | Dartschool">
<meta name="twitter:description" content="Wil jij je dartskills aanscherpen of gewoon ontdekken of darten iets voor jou is? Schrijf je dan nu in voor een gratis proefles!">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="dartschool-inschrijven-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "1ste Les Gratis" as page_name %}
    {% trans "Twijfel je of darten iets voor jou is, heb je geen zin in de klassieke sporten, of wil je darten juist combineren met een andere sport? Kom gerust eerst eens langs voor een gratis proefles of demoles en ontdek het zelf! " as page_description %}
    {% trans "Dartschool" as page_previous_crumb %}
    {% trans "/nl/dartschool" as page_previous_crumb_link %}
    
    {% include 'blocks/page-title.html' with name=page_name description=page_description previous_crumb=page_previous_crumb previous_crumb_link=page_previous_crumb_link %}

    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            
            {% trans "Indien de voorgestelde lesmomenten niet passen, laat het ons weten, dan kijken we samen naar een geschikt alternatief." as page_tijd %}
            {% trans "In één van onze dartscholen" as page_locatie %}

            {% include 'blocks/tijd-en-locatie.html' with static_data='true' tijd=page_tijd locatie=page_locatie %}

            {% include 'blocks/vereisten.html' with vereisten=vereisten %}

          </div>  
          
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box register">
              <h4>{% trans 'Boek je 1ste gratis les' %}</h4>
              {% url 'locaties' as locaties_url %}
              <p>{% blocktrans %}Wil je een eerste les uitproberen? Bekijk de lestijden van de verschillende <a href="{{ locaties_url }}">ChudartZ jeugddartscholen.</a> Kies het moment dat jou het beste uitkomt en stuur ons een bericht voor een gratis proefles.{% endblocktrans %}</p>

              <form action="{% url 'contact' %}" method="POST" id="email-form" class="email-form">
                {% csrf_token %}
                <div class="row gy-4">
            
                    <!-- Name -->
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="{% trans 'Naam' %}" maxlength="100" required>
                    </div>
            
                    <!-- Email -->
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" placeholder="{% trans 'Email' %}" maxlength="254" required>
                    </div>

                    <!-- Phone -->
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="phone" placeholder="{% trans 'GSM nummer' %}" maxlength="15">
                    </div>
            
                    <!-- Subject -->
                    <div class="col-8">
                        <input type="text" class="form-control" name="subject" placeholder="{% trans 'Onderwerp' %}" maxlength="100" value="Aanvraag 1ste les gratis" readonly required>
                    </div>
            
                    <!-- Message -->
                    <div class="col-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="{% trans 'Bericht' %}" required></textarea>
                    </div>

                    <!-- captcha -->
                    <input type="hidden" name="recaptcha_token" id="recaptcha_token">
            
                    <!-- Submit Button and Feedback Messages -->
                    <div class="col-12 text-center">
                        <div class="loading" style="display:none;">{% trans 'Laden...' %}</div>
                        <div class="error-message" style="display:none;"></div>
                        <div class="sent-message" style="display:none;">{% trans 'Uw bericht is verzonden. Bedankt!' %}</div>
                        <button type="submit">{% trans '1ste gratis les aanvragen' %}</button>
                    </div>
            
                </div>
              </form>
            
            </div>
          </div>          

        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' %}
  <script src="{% static "vendor/email-form/validate.js" %}" defer></script>

</body>
{% endblock %}
