{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block title %}
ChudartZ | {{ tornooi.titel}} Inschrijven
{% endblock %}


{% block meta %}
<meta name="robots" content="noindex, nofollow">
<!-- TODO -->
<meta property="og:title" content="ChudartZ | Dartschool">
<meta property="og:description" content="TODO">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | Dartschool">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="dartschool-inschrijven-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Gratis Proefles" as page_name %}
    {% trans "Dartschool" as page_description %}
    {% trans "Dartschool" as page_previous_crumb %}
    {% trans "/dartschool" as page_previous_crumb_link %}
    
    {% include 'blocks/page-title.html' with name=page_name description=page_description previous_crumb=page_previous_crumb previous_crumb_link=page_previous_crumb_link %}

    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            
            {% trans "maandag t.e.m. donderdag van 19u tot 21.30u" as page_tijd %}
            {% trans "Wilgenlaan 35, Zedelgem" as page_locatie %}

            {% include 'blocks/tijd-en-locatie.html' with static_data='true' tijd=page_tijd locatie=page_locatie %}

            {% include 'blocks/vereisten.html' with vereisten=vereisten %}

          </div>  
          
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box register">
              <h4>{% trans 'Boek uw gratis proefles' %}</h4>

              <form id="register-form" class="register-form" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">
                    
                    <!-- Voornaam -->
                    <div class="col-md-6">
                        <input type="text" name="voornaam" class="form-control" placeholder="{% trans 'Voornaam' %}" maxlength="100" required>
                    </div>
            
                    <!-- Achternaam -->
                    <div class="col-md-6">
                        <input type="text" name="achternaam" class="form-control" placeholder="{% trans 'Achternaam' %}" maxlength="100" required>
                    </div>
            
                    <!-- Email -->
                    <div class="col-md-12">
                        <input type="email" name="email" class="form-control" placeholder="{% trans 'Email' %}" maxlength="254" required>
                    </div>

                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          {% trans 'Ik ga akkoord met de ' %}<a href="{% url 'algemene_voorwaarden' %}">{% trans 'Algemene voorwaarden'%}</a> {% trans 'van ChudartZ.'%}
                        </label>
                      </div>  
                    </div>
                    
                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          {% trans 'Ik ga akkoord met het' %} <a href="{% url 'reglement_tornooien' %}">{% trans 'Algemeen reglement' %}</a> {% trans 'voor darttornooien. '%}
                        </label>
                      </div>  
                    </div>

                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          {% blocktrans %}
                          Als ouder/voogd, geef ik toestemming aan mijn minderjarige kind om deel te nemen aan de wedstrijd en verklaar mij akkoord met het verwerken van diens persoonsgegevens in overeenstemming met de wet op de privacy. 
                          Ik weet dat deze gegevens vertrouwelijk zullen worden behandeld en uitsluitend gebruikt zullen worden voor doeleinden gerelateerd aan dit evenement.
                          {% endblocktrans %}
                        </label>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          {% trans 'Ik ga akkoord met de' %} <a href="{% url 'disclaimer' %}">{% trans 'Disclaimer' %}</a> {% trans 'van ChudartZ.' %}
                        </label>
                      </div>  
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12 text-center">
                        <button type="submit" id="submit-button">{% trans 'Kies Datum' %}</button>
                    </div>
                    
                </div>
              </form>
            
            </div>

            <div class="service-box mt-0" style="display: none;" id="cal-box">
              <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline">
                <!-- Cal.com embed will be injected here after form submission -->
              </div>
              <script type="text/javascript">
                (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
              </script>
              
            </div>
          </div>          

        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' %}

  <script>
    document.getElementById('register-form').addEventListener('submit', function(event) {
      event.preventDefault();

      const formBox = document.querySelector('.service-box.register');
      const calBox = document.getElementById('cal-box');
  
      // Collect the user's data from the form fields
      const voornaam = document.querySelector('input[name="voornaam"]').value;
      const achternaam = document.querySelector('input[name="achternaam"]').value;
      const email = document.querySelector('input[name="email"]').value;
  
      // Create a URL with query parameters for Cal.com
      const calLink = `chudartz/dartschool?firstName=${encodeURIComponent(voornaam)}&lastName=${encodeURIComponent(achternaam)}&email=${encodeURIComponent(email)}&code=PROEFLES`;

      // Add a fade-out animation to the form
      formBox.style.transition = 'opacity 0.25s ease';
      formBox.style.opacity = 0;
  
      // After the fade-out animation ends, hide the form and show the calendar
      setTimeout(() => {
        formBox.style.display = 'none';

        // Inject the Cal.com iframe with the prefilled data
        Cal("init", "dartschool", {origin:"https://cal.com"});
              
        Cal.ns.dartschool("inline", {
        elementOrSelector:"#my-cal-inline",
        calLink: calLink,
        layout: "month_view"
        });
      
        Cal.ns.dartschool("ui", {"theme":"light","styles":{"branding":{"brandColor":"#c3111a"}},"hideEventTypeDetails":false,"layout":"month_view"});
        
        // Show the calendar box with a fade-in animation
        calBox.style.display = 'block';
        calBox.style.opacity = 0;
        calBox.style.transition = 'opacity 0.25s ease';
        
        setTimeout(() => {
          calBox.style.opacity = 1;
        }, 50); // Slight delay to trigger the transition

      }, 250); // Same duration as the fade-out transition
    });
  </script>
  
  

</body>
{% endblock %}
