{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Dartschool
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<meta name="keywords" content="chudartz, dart, school, zedelgem, jeugd, toernooien">
<meta property="og:title" content="ChudartZ | Dartschool">
<meta property="og:description" content="{% blocktrans %}Bij ChudartZ bieden we een dartschool waar spelers van elk niveau hun vaardigheden kunnen verbeteren. De school verwelkomt enthousiaste jongeren vanaf 10 jaar. Of je nu een beginner bent die net zijn eerste pijlen gooit, of een ervaren speler die zijn techniek wil verfijnen, wij staan klaar om je te helpen. Met persoonlijke aandacht en deskundige begeleiding zorgen wij ervoor dat je het beste uit jezelf kunt halen.{% endblocktrans %}">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | Dartschool">
<meta name="twitter:description" content="{% blocktrans %}Bij ChudartZ bieden we een dartschool waar spelers van elk niveau hun vaardigheden kunnen verbeteren. De school verwelkomt enthousiaste jongeren vanaf 10 jaar. Of je nu een beginner bent die net zijn eerste pijlen gooit, of een ervaren speler die zijn techniek wil verfijnen, wij staan klaar om je te helpen. Met persoonlijke aandacht en deskundige begeleiding zorgen wij ervoor dat je het beste uit jezelf kunt halen.{% endblocktrans %}">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="dartschool-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Dartschool" as page_name %}
    {% trans "Ben je klaar om je dartskills naar een hoger niveau te tillen? Welkom bij ChudartZ! De plek waar jongeren kunnen samenkomen om de kunst van het darten te leren en perfectioneren!" as page_description %}
    
    {% include 'blocks/page-title.html' with name=page_name description=page_description background="true" %}

    <section id="portfolio-details" class="portfolio-details section pt-0"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">

            <section id="features" class="features section p-0">
        
              <div class="container">
        
                <div class="row gy-4 align-items-center features-item">
                    <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h3>{% trans 'Ons Doel' %}</h3>
                    <p>
                        {% blocktrans %}
                        Onze missie is om een plek te creëren in de ruime regio Zedelgem waar jongeren zich kunnen ontwikkelen, hun passie kunnen ontdekken en zich vervolmaken in het darts.
                        We streven ernaar om in de dartschool op een educatieve manier het individuele niveau omhoog te krikken. Op die manier willen we een inspirator zijn voor de jeugd zodat ze gemotiveerd hun volledig potentieel kunnen bereiken.
                        {% endblocktrans %}
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i><span>{% trans 'Ontwikkeling van basisvaardigheden' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Persoonlijke groei en zelfvertrouwen' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Voorbereiden op competitieve darts' %}</span></li>
                    </ul>
                    <a href="{% url 'dartschool_meer_info' %}" class="btn btn-get-started">{% trans 'Meer Info' %}</a> 

                    </div>
                    <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                    <div class="image-stack">
                        <img src="{% static "img/dartschool/oefenborden.webp" %}" alt="{% trans "Oefenborden dartschool" %}" class="stack-front">
                        <img src="{% static "img/dartschool/wedstrijdbord.webp" %}" alt="{% trans "Wedstrijdbord" %}" class="stack-back">
                    </div>
                    </div>
                </div>
        
                <div class="row gy-4 align-items-stretch justify-content-between features-item ">
                    <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                      <img src="{% static "img/dartschool/trainer.webp" %}" class="img-fluid" alt="{% trans "Trainer bij ChudartZ logo" %}">
                    </div>
                    <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
                    <h3>{% trans 'Voor Wie' %}</h3>
                    <p>
                      {% blocktrans %}
                      Heb je als ouder het gevoel dat jouw kind een uitzonderlijk talent heeft,
                      of denk je dat 10 jaar misschien al te laat is om met darten te beginnen? Geen zorgen! 
                      Kom gerust langs voor een gratis proefles.
                      Zowel kinderen jonger dan 10 jaar als oudere beginners kunnen vrijblijvend ontdekken of ze een (uitzonderlijk) talent zijn en of darten iets voor hen is.
                      {% endblocktrans %}
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i><span>{% trans 'In theorie vanaf 10 jaar' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Zowel beginners als gevorderden t.e.m. 20 jaar' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Gratis proefles' %}</span></li>
                    </ul>
                    <a href="{% url 'gratis_proefles' %}" class="btn btn-get-started align-self-start">{% trans 'Gratis Proefles' %}</a>
  
                  </div>
                </div>

                <div class="row gy-4 align-items-stretch justify-content-between features-item ">
                  <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
                  <h3>{% trans 'Prijzen' %}</h3>
                  <p>
                    {% url 'dartschool_werkwijze' as werkzijze_url %}
                    {% blocktrans %}
                    Voor meer informatie over het verschil tussen lidgeld en lesgeld, zie onze <a href="{{ werkwijze_url }}">werkwijze</a>.
                    {% endblocktrans %}
                  </p>
                  <ul>
                      <li><i class="bi bi-dot"></i><span>{% trans 'Lidgeld: € 50/jaar' %}</span></li>
                      {% for beurtkaart in beurtkaarten %}
                      <li><i class="bi bi-dot"></i><span>{{ beurtkaart.naam }}: {{ beurtkaart.prijs }}</span></li>
                      {% endfor %}
                  </ul>
                  <a href="{% url 'beurtkaart_kopen' %}" class="btn btn-get-started align-self-start">{% trans 'Inschrijven' %}</a>
  
                </div>
                  <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                    <img src="{% static "img/dartschool/muur.webp" %}" class="img-fluid" alt="{% trans "Muur van dartschool" %}">
                  </div>
                </div>
        
              </div>
        
            </section>
          </div>

        </div>

      </div>

    </section>

    </main>
  {% include 'blocks/footer.html' %}

</body>
{% endblock %}