{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block title %}
Chudarts | {{ tornooi.titel}} Inschrijven
{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js?render=6LfebC8qAAAAAEQpGOujwPZHPtijR5u2k2CNqtmV"></script>
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<!-- TODO -->
<meta property="og:title" content="ChudartZ | Dartschool Beurtkaart Kopen">
<meta property="og:description" content="TODO">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | Dartschool">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="dartschool-inschrijven-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Beurtkaart Kopen" as page_name %}
    {% trans "Dartschool" as page_description %}
    {% trans "Dartschool" as page_previous_crumb %}
    {% trans "/dartschool" as page_previous_crumb_link %}
    
    {% include 'blocks/page-title.html' with name=page_name description=page_description previous_crumb=page_previous_crumb previous_crumb_link=page_previous_crumb_link %}

    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
                <h4>{% trans 'Hoe werkt het?' %}</h4>
                <div class="services-list">
                    <p>{% blocktrans %}
                      Is de proefles je goed bevallen en wil je verder lessen volgen, dan kan je hier online een meer-beurten kaart kopen. Je krijgt dan een unieke en persoonlijke code toegewezen.
                      Hou deze code goed bij, je hebt ze nodig om online een afspraak voor je volgende dartslessen te maken.
                      Je lidgeld van de club (50 euro per jaar) kan je betalen op je eerste les. 
                    {% endblocktrans %}</p>
                </div>
            </div>

            {% include 'blocks/options.html' with beurtkaarten=beurtkaarten %}

          </div>  
          
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box register">
              <h4>{% trans 'Koop uw beurtkaart' %}</h4>

              <form action="{{ request.path }}" method="post" id="beurtkaart-form" class="register-form" data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %}
                <div class="row gy-4">
                  <!-- First Column -->
                  <div class="col-lg-5">
                      <div class="row gy-4">
                          <!-- beurtkaart -->
                          <div class="col-md-12">
                              <select name="beurtkaart" class="form-select" id="beurtkaart-select" required>
                                  <option value="" disabled selected hidden>{% trans 'Selecteer uw beurtkaart' %}</option>
                                  {% for beurtkaart in beurtkaarten %}
                                      <option value="{{ beurtkaart.id }}" class="valid">{{ beurtkaart.naam }}: {{ beurtkaart.prijs }}</option>
                                  {% endfor %}
                              </select>
                          </div>
              
                          <!-- Code -->
                          <div class="col-md-12">
                              <input type="text" name="code" class="form-control" placeholder="{% trans 'Uw persoonlijke code' %}" maxlength="6" required>
                          </div>

                          <div class="col-md-12">
                            <div class="loading form-check-label text-muted small" style="display:none;">{% trans 'Laden...' %}</div>
                            <div class="error-message form-check-label text-muted small" style="display:none;"></div>
                          </div>

                          <!-- captcha -->
                          <input type="hidden" name="recaptcha_token" id="recaptcha_token">
              
                          <!-- Submit Button -->
                          <div class="col-12 text-center">
                              <button type="submit" id="submit-button">{% trans 'Betalen' %}</button>
                          </div>
                          <!-- TODO laat niet submitten als code niet bestaat -->
                      </div>
                  </div>
              
                  <!-- Divider -->
                  <div class="col-lg-2 text-center">
                      <div class="divider">
                          <span class="label text-muted small">{% trans 'OF' %}</span>
                      </div>
                  </div>
              
                  <!-- Second Column -->
                  <div class="col-lg-5 d-flex align-items-center justify-content-center">
                    <div class="row gy-4">
                        <div class="col-12 text-center">
                            <button type="button" id="no-code-button">{% trans 'Ik heb geen code' %}</button>
                        </div>
                    </div>
                  </div>
                
                </div>
              
              </form>
            
            </div>


          </div>    

        </div>

        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' with disable_scroll_top="true" %} 

  <script>

    document.addEventListener('DOMContentLoaded', function() {
    grecaptcha.ready(function() {

      const loadingMessage = document.querySelector('.loading');
      const errorMessage = document.querySelector('.error-message');

      document.getElementById('beurtkaart-form').addEventListener('submit', function(event) {
        event.preventDefault();
        grecaptcha.execute('6LfebC8qAAAAAEQpGOujwPZHPtijR5u2k2CNqtmV', {action: 'submit'}).then(function(token) {
    
        // Collect the user's data from the form fields
        const code = document.querySelector('input[name="code"]').value;
        loadingMessage.style.display = 'block';

        // fetch the student object
        fetch(`/nl/code/${encodeURIComponent(code)}?recaptcha_token=${encodeURIComponent(token)}`, {
          method: 'GET',
          headers: {
            'X-Requested-With': 'XMLHttpRequest', // Indicate AJAX request
          }
        })
        .then(response => response.json())
        .then(data => {
          loadingMessage.style.display = 'none';
          if (data.success) {
            document.getElementById("beurtkaart-form").submit();
            
          } else {
            errorMessage.textContent = data.error || 'Er is iets misgegaan. Probeer binnen een paar minuten opnieuw.';
            errorMessage.style.display = 'block';
          }
        })

        .catch(() => {
          loadingMessage.style.display = 'none';
          errorMessage.textContent = 'Er is iets misgegaan. Probeer binnen een paar minuten opnieuw.';
          errorMessage.style.display = 'block';
        })});

      });
      
    })
  });

    
  </script>

</body>
{% endblock %}
