{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Dartschool
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
{% endblock %}

{% block body %}
<body class="over-ons-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% trans "Werkwijze" as page_name %}
    {% trans "Dartschool" as page_previous_crumb %}
    {% trans "/dartschool" as page_previous_crumb_link %}
    
    {% include 'blocks/page-title.html' with name=page_name previous_crumb=page_previous_crumb previous_crumb_link=page_previous_crumb_link backgroundsecond="true" %}
    
    <section id="portfolio-details" class="portfolio-details section pt-0"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">

            <section id="features" class="features section p-0">
        
              <div class="container">
        
                <div class="row gy-4 align-items-stretch justify-content-between features-item ">
                  <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
                    <h3>{% trans 'Werkwijze' %}</h3>
                    <p> 
                      {% url 'beurtkaart_kopen' as beurtkaart_url %}
                      {% blocktrans %}
                      Als de gratis proefles je is bevallen en je wilt verder lessen volgen, kun je online een <a href="{{ beurtkaart_url }}">meerbeurtenkaart aankopen</a>. Voordat je dit kunt doen, dien je eerst het lidgeld te betalen.
                      Het <b>lidgeld</b> bedraagt € 50 voor een gans jaar.<br>Wat is inbegrepen ?

                      {% endblocktrans %}
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i><span>{% trans 'Gebruik van het materiaal en de accommodatie' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Gratis (spuit)water tijdens de trainingen' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Verzekering tijdens de trainingen en de toernooien' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Voorrang en ondersteuning bij toernooien, jeugd- en/of clubcompetitie' %}</span></li>
                    </ul>

                    <p>
                      {% blocktrans %}
                      Het <b>lesgeld</b> wordt aangeboden in de vorm van beurtenkaarten. Kom je wekelijks, dan is een 10-beurtenkaart wellicht een goede keuze. Plan je om meerdere keren per week te komen, dan is een 20-beurtenkaart een voordeligere optie. Kom je slechts één keer per maand, dan kun je beter een losse beurt aanschaffen.
                      {% endblocktrans %}
                    </p>
                    <a href="{% url 'gratis_proefles' %}" class="btn btn-get-started align-self-start">{% trans 'Gratis Proefles' %}</a> 
                  </div>

                  <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                    <img src="{% static "img/dartschool/muur.webp" %}" class="img-fluid" alt="{% trans "Muur van dartschool" %}">
                  </div>

                </div>
        
              </div>
        
            </section>
          </div>

        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}