{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Over Ons
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
{% endblock %}

{% block body %}
<body class="over-ons-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% trans "FAQ" as page_name %}

    {% include 'blocks/page-title.html' with name=page_name %}

    <!-- Faq Section -->
    <section id="faq" class="faq section">

        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="content px-xl-5">
                <h3>{% trans '<span>Veel Gestelde</span><strong> Vragen</strong>' %}</h3>
                <p>
                  {% blocktrans %}
                  Heb je vragen over het toernooi? Bekijk dan onze FAQ! Hier vind je antwoorden op de meest gestelde vragen over inschrijvingen, speelschema's, regels en meer. Zo ben je meteen op de hoogte van alle belangrijke informatie. Mis je nog iets? Aarzel niet om <a href="{% url 'index' %}#contact">contact</a> met ons op te nemen!
                  {% endblocktrans %}
                </p>
              </div>
            </div>
  
            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
  
              <div class="faq-container">
                <div class="faq-item faq-active">
                  <h3><span class="num">1.</span> <span>{% blocktrans %}Hoe kan ik me inschrijven voor het toernooi?{% endblocktrans %}</span></h3>
                  <div class="faq-content">
                    <p>{% blocktrans %}Inschrijven kan via {% endblocktrans %}<a href="{% url 'toernooien' %}">{% blocktrans %}onze website{% endblocktrans %}</a>{% blocktrans %} of ter plaatse op de dag van het evenement, afhankelijk van beschikbaarheid{% endblocktrans %}</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
  
                <div class="faq-item">
                  <h3><span class="num">2.</span> <span>{% blocktrans %}Wat zijn de dartregels ?{% endblocktrans %}</span></h3>
                  <div class="faq-content">
                    <p>{% blocktrans %}Onze dartregels kan u {% endblocktrans %}<a href="{% url 'reglement_toernooien' %}">{% blocktrans %}hier{% endblocktrans %}</a> {% blocktrans %}terugvinden.{% endblocktrans %}</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
  
                <div class="faq-item">
                  <h3><span class="num">3.</span> <span>{% blocktrans %}Is de dartschool toegankelijk voor mensen met een beperking?{% endblocktrans %}</span></h3>
                  <div class="faq-content">
                    <p>{% blocktrans %}Hoewel we er alles aan doen om een gastvrije omgeving te bieden, willen we erop wijzen dat onze huidige locatie helaas niet volledig toegankelijk is voor mindervaliden vanwege de structuur van het gebouw. We waarderen uw begrip en werken eraan om in de toekomst meer toegankelijke faciliteiten te bieden.{% endblocktrans %}</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
  
                <div class="faq-item">
                  <h3><span class="num">4.</span> <span>{% blocktrans %}Is er een leeftijdsbeperking om lid te worden van de school of deel te nemen aan een toernooi?{% endblocktrans %}</span></h3>
                  <div class="faq-content">
                    <p>Onze school en toernooien staan open voor iedereen vanaf 10 jaar. In uitzonderlijke gevallen kunnen jongere talenten zich ook inschrijven. Ouderlijke toestemming is hierbij altijd vereist. Bij verdere vragen, neem gerust <a href="#contact">contact</a> met ons op.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
  
                <div class="faq-item">
                  <h3><span class="num">5.</span> <span>{% blocktrans %}Wat is de prijzenpot voor de winnaars?{% endblocktrans %}</span></h3>
                  <div class="faq-content">
                    <p>{% blocktrans %}De prijzenpot verschilt per toernooi, maar bevat vaak geldprijzen, trofeeën en andere leuke verrassingen.{% endblocktrans %}</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
  
                <div class="faq-item">
                  <h3><span class="num">6.</span> <span>{% blocktrans %}Kan ik mij op de dag zelf nog inschrijven voor een toernooi?{% endblocktrans %}</span></h3>
                  <div class="faq-content">
                    <p>{% blocktrans %}Afhankelijk van de beschikbare plaatsen kun je je op de dag zelf nog inschrijven. We raden echter aan om vooraf te registreren om zeker te zijn van deelname.{% endblocktrans %}</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
  
              </div>
  
            </div>
          </div>
  
        </div>
  
      </section><!-- /Faq Section -->
  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}