{% extends 'main.html' %}

{% load static i18n sponsors  %}

{% block meta %}
<meta name="description" content="{% blocktrans %}Bij ChudartZ in Zedelgem delen we onze passie voor darts en bieden we een jeugd-dartschool aan, waar spelers van elk niveau hun talent kunnen ontwikkelen. We organiseren regelmatig toernooien en trainingen om spelers te helpen groeien en hun vaardigheden verder te verbeteren. {% endblocktrans %}">
<meta name="robots" content="index, follow">
<meta property="og:title" content="ChudartZ">
<meta property="og:description" content="{% blocktrans %}Bij ChudartZ in Zedelgem delen we onze passie voor darts en bieden we een jeugd-dartschool aan, waar spelers van elk niveau hun talent kunnen ontwikkelen. We organiseren regelmatig toernooien en trainingen om spelers te helpen groeien en hun vaardigheden verder te verbeteren. {% endblocktrans %}">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ">
<meta name="twitter:description" content="{% blocktrans %}Bij ChudartZ in Zedelgem delen we onze passie voor darts en bieden we een jeugd-dartschool aan, waar spelers van elk niveau hun talent kunnen ontwikkelen. We organiseren regelmatig toernooien en trainingen om spelers te helpen groeien en hun vaardigheden verder te verbeteren. {% endblocktrans %}">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="index-page">

  {% include 'blocks/header-fixed.html' %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <!-- Image background -->
      <picture>
        <!-- Mobile image -->
        <source 
            media="(max-width: 768px)" 
            srcset="{% static 'img/main_bg/bg-small.webp' %}" 
            type="image/webp">
            
        <!-- Tablet/Desktop image -->
        <source 
            media="(min-width: 769px)" 
            srcset="{% static 'img/main_bg/bg-large.webp' %}" 
            type="image/webp">
            
        <!-- Fallback image for unsupported browsers -->
        <img 
            src="{% static 'img/main_bg/bg-2000w.webp' %}" 
            alt="Background Image of the dartschool" 
            width="5202" 
            height="3464" 
            data-aos="fade-in">
      </picture>

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">{% trans 'Welkom bij' %} <span class="kamikaze">ChudartZ</span></h2>
            <p data-aos="fade-up" data-aos-delay="200">
              {% trans 'Uw ultieme bestemming voor alles wat met darts te maken heeft.' %}
            </p>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    {% if sponsors|has_to_show_sponsors_index %}
    <!-- Sponsors Section -->
    <section id="sponsors" class="sponsors section">

      <div class="container" data-aos="fade-up">
        <div class="row gy-4">

          {% for sponsor in sponsors %}
          {% if sponsor.toon_op_index %}
          <div class="col-xl-2 col-md-3 col-6 sponsor-logo">
            <a href="{{ sponsor.website_url }}">
              <img src="{{ sponsor.logo.url }}" class="img-fluid" alt="Logo {{ sponsor.naam }}">
            </a>
          </div>
          {% endif %}
          {% endfor %}

        </div>
      </div>

    </section><!-- Sponsors Section -->
    {% endif %}

    <!-- About Section -->
    <section id="over-ons" class="over-ons section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>{% trans 'Over Ons' %}</h3>
            <h2>{% trans 'Over ChudartZ' %}</h2>
            <p>
              {% blocktrans %}
              Welkom bij ChudartZ, dé bestemming voor darts in Zedelgem en daarbuiten. We willen onze passie voor darts graag met jullie delen en overbrengen.
              Onze eigen jeugd dartschool biedt spelers van alle niveaus de kans om hun vaardigheden te verbeteren, met een bijzondere focus op het ontwikkelen van jong talent. We streven ernaar om regelmatig toernooien te organiseren waarin spelers van alle niveaus samenkomen en de competitie met elkaar aangaan.
              {% endblocktrans %}
            </p>
            <a href="{% url 'over_ons' %}" class="read-more"><span>{% trans 'Lees Meer' %}</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <a href="{% url 'dartschool' %}"><i class="bi bi-buildings"></i></a>
                  <h3>{% trans 'Dartschool' %}</h3>
                  <p>
                    {% blocktrans %}
                    Of je nu een beginner bent of al ervaren aan de oche staat, bij ChudartZ kun je jouw dartvaardigheden naar een hoger niveau tillen. Onze dartschool biedt begeleiding op maat voor jeugdspelers van alle niveaus. Ontdek jouw talent, verbeter je techniek en wie weet schitter jij straks op het podium!
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
              
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <a href="{% url 'toernooien' %}"><i class="bi bi-trophy"></i></a>
                  <h3>{% trans 'Toernooien' %}</h3>
                  <p>
                    {% blocktrans %}
                    Deze zijn toegankelijk voor iedereen, van alle leeftijden en niveaus, zodat alle geïnteresseerden kunnen deelnemen, met afzonderlijke competities voor de jeugd. Sommige toernooien zullen ook toegankelijk zijn voor mensen met een beperking, zodat iedereen de kans krijgt om deel te nemen.
                    {% endblocktrans %}
                  </p>
                </div>
              </div>

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <a href="{% url 'teambuildings_en_workshops' %}"><i class="bi bi-people"></i></a>
                  <h3>{% trans 'Teambuilding' %}</h3>
                  <p>
                    {% blocktrans %}
                    Op zoek naar een originele en sportieve teambuilding? Bij ChudartZ organiseren we dynamische dartsevents voor bedrijven, waar plezier, competitie en samenwerking centraal staan. Perfect voor alle ervaringsniveaus!
                    Versterk de teamspirit en beleef een onvergetelijke dag met je collega's. Boek nu je teambuilding!
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
              
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <a href="{% url 'faq' %}"><i class="bi bi-question-circle"></i></a>
                  <h3>{% trans 'FAQ' %}</h3>
                  <p>
                    {% blocktrans %}
                    Heb je vragen over het toernooi? Bekijk dan onze FAQ! Hier vind je antwoorden op de meest gestelde vragen over inschrijvingen, speelschema's, regels en meer. Zo ben je meteen op de hoogte van alle belangrijke informatie. Mis je nog iets? Aarzel niet om contact met ons op te nemen!
                    {% endblocktrans %}
                  </p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </section><!-- /About Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img
        srcset="{% static 'img/backgrounds/closeup_three_darts-400w.avif' %} 400w, {% static 'img/backgrounds/closeup_three_darts-600w.avif' %} 600w, {% static 'img/backgrounds/closeup_three_darts-800w.avif' %} 800w, {% static 'img/backgrounds/closeup_three_darts-1000w.avif' %} 1000w, {% static 'img/backgrounds/closeup_three_darts-1200w.avif' %} 1200w, {% static 'img/backgrounds/closeup_three_darts-1600w.avif' %} 1600w, {% static 'img/backgrounds/closeup_three_darts-2000w.avif' %} 2000w"
        sizes="(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (min-width: 1601px) 2000px"
        src="closeup_three_darts.webp"
        alt="Closup three darts"
        width="5202"
        height="3464"
      />

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>{% trans 'Teambuildings & Workshops' %}</h3>
              <p>
                {% blocktrans %}
                Bij ChudartZ weten we dat geweldige prestaties op de dartbaan niet alleen afhangen van individuele vaardigheden, maar vooral van de kracht van een hecht team. Daarom organiseren wij ook teambuilding-evenementen.
                {% endblocktrans %}
              </p>
              <a class="cta-btn" href="{% url 'teambuildings_en_workshops' %}">{% trans 'Meer Info'%}</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <div class="container section-title" data-aos="fade-up">
        <h2>{% trans 'Afbeeldingen' %}</h2>
        <p>{% trans "Laat je inspireren door de foto's van onze dartsevenementen en lessen, en ervaar de energie en gemeenschap van onze club." %}</p>
      </div>

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="afbeelding-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">{% trans 'Alle' %}</li>
            <li data-filter=".filter-school">{% trans 'Dartschool' %}</li>
            <li data-filter=".filter-toernooi">{% trans 'Toernooien' %}</li>
          </ul>

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">
              <img src="{% static "img/mosaic/wall.webp" %}" class="img-fluid" alt="{% trans 'Muurschilderij Dartschool' %}" loading="lazy">
              <div class="portfolio-info">
                <h4>{% blocktrans %}
                  Muurschilderij Dartschool
                {% endblocktrans %}</h4>
                <a href="{% static "img/mosaic/wall.webp" %}" title="{% trans "Muurschilderij Dartschool" %}" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-toernooi">
              <img src="{% static "img/mosaic/close_board.webp" %}" class="img-fluid" alt="{% trans 'Close-up dartbord' %}" loading="lazy">
              <div class="portfolio-info">
                <h4>{% blocktrans %}
                  Close-up dartbord
                {% endblocktrans %}</h4>
                <a href="{% static "img/mosaic/close_board.webp" %}" title="{% trans "Muurschilderij Dartschool" %}" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">
              <img src="{% static "img/mosaic/close_wall.webp" %}" class="img-fluid" alt="{% trans 'Wedstrijdbord' %}" loading="lazy">
              <div class="portfolio-info">
                <h4>{% blocktrans %}
                  Wedstrijdbord
                {% endblocktrans %}</h4>
                <a href="{% static "img/mosaic/close_wall.webp" %}" title="{% trans "Wedstrijdbord" %}" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">
              <img src="{% static "img/mosaic/detail_dart.webp" %}" class="img-fluid" alt="{% trans 'Detailshot van dart' %}" loading="lazy">
              <div class="portfolio-info">
                <h4>{% blocktrans %}
                  Detailshot van dart
                {% endblocktrans %}</h4>
                <a href="{% static "img/mosaic/detail_dart.webp" %}" title="{% trans "Detailshot van dart" %}" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">
              <img src="{% static "img/mosaic/overview.webp" %}" class="img-fluid" alt="{% trans 'Overview van dartschool' %}" loading="lazy">
              <div class="portfolio-info">
                <h4>{% blocktrans %}
                  Overview van dartschool
                {% endblocktrans %}</h4>
                <a href="{% static "img/mosaic/overview.webp" %}" title="{% trans "Overview van dartschool" %}" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">
              <img src="{% static "img/mosaic/sidewall.webp" %}" class="img-fluid" alt="{% trans 'Oefenborden' %}" loading="lazy">
              <div class="portfolio-info">
                <h4>{% blocktrans %}
                  Oefenborden
                {% endblocktrans %}</h4>
                <a href="{% static "img/mosaic/sidewall.webp" %}" title="{% trans "Oefenborden" %}" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">
              <img src="{% static "img/mosaic/throwing2.webp" %}" class="img-fluid" alt="{% trans 'Aan het oefenen' %}" loading="lazy">
              <div class="portfolio-info">
                <h4>{% blocktrans %}
                  Aan het oefenen
                {% endblocktrans %}</h4>
                <a href="{% static "img/mosaic/throwing2.webp" %}" title="{% trans "Aan het oefenen" %}" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">
              <img src="{% static "img/mosaic/close_dart.webp" %}" class="img-fluid" alt="{% trans 'Close-up van dartpijltje' %}" loading="lazy">
              <div class="portfolio-info">
                <h4>{% blocktrans %}
                  Close-up van dartpijltje
                {% endblocktrans %}</h4>
                <a href="{% static "img/mosaic/close_dart.webp" %}" title="{% trans "Close-up van dartpijltje" %}" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container section-title" data-aos="fade-up">
        <h2>{% trans 'Contact' %}</h2>
        <p>{% trans 'Aarzel niet om ons te contacteren!' %}</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <a href="tel:+32472041891"><i class="bi bi-telephone"></i></a>
                  <h3>{% trans 'Bel/Whatsapp ons' %}</h3>
                  <p><a href="tel:+32472041891">0472/04.18.91</a></p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <a href="mailto:chudartz@gmail.com"><i class="bi bi-envelope"></i></a>
                  <h3>{% trans 'Email ons' %}</h3>
                  <p><a href="mailto:chudartz@gmail.com">chudartz@gmail.com</a></p>
                </div>
              </div>

              <div class="col-md-12">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <div id="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.708431907577!2d3.1689395764941453!3d51.13228593803756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c34e1c6c98cbb9%3A0x7b40593768943baf!2sWilgenlaan%2035%2C%208210%20Zedelgem!5e0!3m2!1snl!2sbe!4v1724578559432!5m2!1snl!2sbe" width="100%" height="295" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col-lg-6"> 
            
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <div style="padding-left: 30px;">
                <i class="bi bi-inbox"></i>
                <h3>{% trans 'Stuur ons een bericht' %}</h3>
              </div>
              <form action="{% url 'contact' %}" method="POST" id="email-form" class="email-form">
                {% csrf_token %}
                <div class="row gy-4">
            
                    <!-- Name -->
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="{% trans 'Naam' %}" maxlength="100" required>
                    </div>
            
                    <!-- Email -->
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" placeholder="{% trans 'Email' %}" maxlength="254" required>
                    </div>
            
                    <!-- Subject -->
                    <div class="col-12">
                        <input type="text" class="form-control" name="subject" placeholder="{% trans 'Onderwerp' %}" maxlength="100" required>
                    </div>
            
                    <!-- Message -->
                    <div class="col-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="{% trans 'Bericht' %}" required></textarea>
                    </div>
            
                    <!-- Submit Button and Feedback Messages -->
                    <div class="col-12 text-center">
                        <div class="loading" style="display:none;">{% trans 'Laden...' %}</div>
                        <div class="error-message" style="display:none;"></div>
                        <div class="sent-message" style="display:none;">{% trans 'Uw bericht is verzonden. Bedankt!' %}</div>
                        <button type="submit">{% trans 'Stuur bericht' %}</button>
                    </div>
            
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  {% include 'blocks/footer.html' %}

  <script src="{% static "vendor/email-form/validate.js" %}" defer></script>

</body>
{% endblock %}