{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
Chudarts | Privacy Policy
{% endblock %}

{% block meta %}
<meta NAME="robots" CONTENT="noindex, nofollow">
{% endblock %}

{% block body %}
<body class="privacy-policy-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% include 'blocks/page-title.html' with name="Privacy Policy" %}

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section"> 
      <!-- TODO VERANDER NAMEN VAN CSS CLASSES EN IDS -->

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">
            <div class="portfolio-description">
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
              
              <p>
                Amet consequatur qui dolore veniam voluptatem voluptatem sit. Non aspernatur atque natus ut cum nam et. Praesentium error dolores rerum minus sequi quia veritatis eum. Eos et doloribus doloremque nesciunt molestiae laboriosam.
              </p>

              <p>
                Impedit ipsum quae et aliquid doloribus et voluptatem quasi. Perspiciatis occaecati earum et magnam animi. Quibusdam non qui ea vitae suscipit vitae sunt. Repudiandae incidunt cumque minus deserunt assumenda tempore. Delectus voluptas necessitatibus est.
              </p>

              <p>
                Sunt voluptatum sapiente facilis quo odio aut ipsum repellat debitis. Molestiae et autem libero. Explicabo et quod necessitatibus similique quis dolor eum. Numquam eaque praesentium rem et qui nesciunt.
              </p>

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}