{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block title %}
ChudartZ | Resultaat
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<meta name="keywords" content="dartskampen, kampen, darts, school, zedelgem, Loppem, Aartrijke, Veldegem">
<meta name="description" content="{% blocktrans %}Bekijk de resultaten van onze dartskampen in West-Vlaanderen en ontdek wie er schitterde!{% endblocktrans %}">

<meta property="og:title" content="ChudartZ | Resultaten">
<meta property="og:description" content="{% blocktrans %}Bekijk de resultaten van onze dartskampen in West-Vlaanderen en ontdek wie er schitterde!{% endblocktrans %}">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | Resultaten">
<meta name="twitter:description" content="{% blocktrans %}Bekijk de resultaten van onze dartskampen in West-Vlaanderen en ontdek wie er schitterde!{% endblocktrans %}">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="resultaten-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Resultaat" as page_name %}
    {% trans "/nl/dartskampen" as page_second_previous_crumb_link %}
    {% trans "Dartskampen" as page_second_previous_crumb %}

    {% include 'blocks/page-title.html' with name=page_name description=kamp.titel second_previous_crumb=page_second_previous_crumb second_previous_crumb_link=page_second_previous_crumb_link previous_crumb=kamp.titel previous_crumb_link=kamp.get_absolute_url %}
    
    <section id="service-details" class="service-details section">
        <div class="container">
            <div class="table-responsive" data-aos="zoom-in" data-aos-delay="100">

              {{ kamp.resultaten|safe }}
                
            </div>
        </div>
        
    </section>
    

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}
