{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Teambuilding & Workshops
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<meta name="keywords" content="workshop(s), teambuilding, darts, bingo, challenges, oernooien, darts, school, zedelgem, provinciaal kampioenschap">
<meta name="description" content="{% blocktrans %}Darts kan een effectieve teambuildingactiviteit zijn door het organiseren van een toernooi of het uitvoeren van teamuitdagingen die samenwerking en strategie bevorderen. Teams kunnen specifieke rollen aannemen en moeten samenwerken om doelen te bereiken, wat de communicatie en teamdynamiek versterkt. Het gebruik van darts als icebreaker of reflectiesessie kan ook bijdragen aan een ontspannen sfeer en waardevolle feedback.{% endblocktrans %}">

<meta property="og:title" content="ChudartZ | Teambuilding & Workshops">
<meta property="og:description" content="{% blocktrans %}Darts kan een effectieve teambuildingactiviteit zijn door het organiseren van een toernooi of het uitvoeren van teamuitdagingen die samenwerking en strategie bevorderen. Teams kunnen specifieke rollen aannemen en moeten samenwerken om doelen te bereiken, wat de communicatie en teamdynamiek versterkt. Het gebruik van darts als icebreaker of reflectiesessie kan ook bijdragen aan een ontspannen sfeer en waardevolle feedback.{% endblocktrans %}">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | Dartschool">
<meta name="twitter:description" content="{% blocktrans %}Darts kan een effectieve teambuildingactiviteit zijn door het organiseren van een toernooi of het uitvoeren van teamuitdagingen die samenwerking en strategie bevorderen. Teams kunnen specifieke rollen aannemen en moeten samenwerken om doelen te bereiken, wat de communicatie en teamdynamiek versterkt. Het gebruik van darts als icebreaker of reflectiesessie kan ook bijdragen aan een ontspannen sfeer en waardevolle feedback.{% endblocktrans %}">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="dartschool-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Workshops" as page_name %}
    {% trans "Bij ChudartZ weten we dat darten mensen samenbrengt. Daarom bieden we niet alleen jeugddartscholen aan, maar ook leuke teamactiviteiten en dartstanden die je kunt huren voor allerlei feesten — van personeelsfeest tot communie. Zo creëren we voor elke groep een unieke, verbindende dartbeleving." as page_description %}

    {% include 'blocks/page-title.html' with name=page_name description=page_description background="true" %}

    <section id="portfolio-details" class="portfolio-details section pt-0"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">

            <section id="features" class="features section p-0">
        
              <div class="container">
        
                <div class="row gy-4 align-items-center features-item" id="teambuilding">
                    <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h3>{% trans 'Teambuildings in België en omstreken' %}</h3>
                    <p>
                    {% blocktrans %}
                    Een dag vol spannende dartscompetities, uitdagende teamopdrachten en een overvloed aan plezier en collegiale verbondenheid.
                    Of de deelnemers nu ervaren darters zijn of voor het eerst een dartpijl vasthouden, deze originele teambuilding is zorgvuldig ontwikkeld om teamspirit te versterken en de groepsdynamiek te bevorderen.

                    Deze formule is geschikt voor kleine teams, kmo’s en grotere bedrijven tot 100+ werknemers.
                    Wij zijn gevestigd in West-Vlaanderen en voorzien van hieruit teambuildingactiviteiten in de ruime regio Vlaanderen en daarbuiten.
                    Bovendien wordt elk concept volledig afgestemd op de wensen en doelstellingen van de klant.

                    Neem contact op via de knop hieronder voor een vrijblijvende offerte.
                    {% endblocktrans %}
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i><span>{% trans 'Versterk je team' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Verbeter je spel' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Plezier & ontspanning' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Onvergetelijke ervaring' %}</span></li>
                    </ul>
                    <a href="{% url 'index' %}#contact" class="btn btn-get-started">{% trans 'Contacteer Ons' %}</a>
                    </div>
                    <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                    <div class="image-stack">
                        <img src="{% static "img/feesten/feest2.webp" %}" alt="ChudartZ bij een feest" class="stack-front">
                        <img src="{% static "img/teambuilding/speler.webp" %}" alt="Dartspeler" class="stack-back">
                    </div>
                    </div>
                </div>

                <!-- Pricing Section -->
                <section id="pricing" class="pricing section">
            
                  <div class="container">
            
                    <div class="row g-4 pt-5">
            
                      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item position-relative">
                          <h3>{% trans 'Darts competitie' %}</h3>
                          <div class="icon">
                            <i class="bi bi-trophy"></i>
                          </div>
                          <p class="pt-2 pb-3">
                            {% blocktrans %}
                            Hier nemen teams het tegen elkaar op in een reeks spannende dartwedstrijden. Elk teamlid speelt om zoveel mogelijk punten te scoren, waarbij samenwerking en teamstrategie cruciaal zijn om als geheel succesvol te zijn.
                            {% endblocktrans %}
                          </p>
                          <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                            <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold text-nowrap">{% trans 'Contacteer Ons' %}</a>
                          </div>
                        </div>
                      </div><!-- End Pricing Item -->
            
                      <div class="col-lg-4"  data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Darts bingo' %}</h3>
                            <div class="icon">
                              <i class="bi bi-dice-3"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Dit is een leuke en interactieve manier om darts te integreren in een teambuilding activiteit. Het combineert het traditionele bingospel met darts en voegt een extra laag van uitdaging en plezier toe. 
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold text-nowrap">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->
            
                      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Teams challenge' %}</h3>
                            <div class="icon">
                              <i class="bi bi-send"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Hier strijden teams tegen elkaar in een serie opwindende en strategische dartsopdrachten. Elk teamlid krijgt specifieke taken, zoals het behalen van bepaalde scores of het raken van vooraf gedefinieerde doelen op het dartbord. 
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold text-nowrap">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->

                      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Strategische darts' %}</h3>
                            <div class="icon">
                              <i class="bi bi-lightbulb"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Teams krijgen specifieke doelen en scenario's, zoals het behalen van een bepaalde score met een beperkt aantal worpen of het blokkeren van de tegenstander door strategisch te spelen. Het draait om slimme beslissingen en samenwerking om de beste tactiek te bepalen en de meeste punten te scoren.
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold text-nowrap">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->

                      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Darts met een twist' %}</h3>
                            <div class="icon">
                            <i class="bi bi-brush"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Dit brengt een creatieve en verrassende draai aan het traditionele dartspel. Teams moeten hun pijlen gooien met unieke beperkingen of uitdagingen, zoals gooien met de niet-dominante hand, met een blinddoek, of na een speelse opdracht.
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold text-nowrap">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->

                      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Andere mogelijkheden' %}</h3>
                            <div class="icon">
                            <i class="bi bi-three-dots"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Als je graag nog meer mogelijkheden wilt ontdekken voor een op maat gemaakte darts teambuilding, aarzel dan niet om contact met ons op te nemen!
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold text-nowrap">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->
            
                    </div>
            
                  </div>
            
                </section><!-- /Pricing Section -->
                
                <!-- Demo lessons -->
                <div class="row gy-4 align-items-stretch justify-content-between features-item" id="demo">

                  <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                    <img src="{% static "img/dartschool/sporthappening.webp" %}" class="img-fluid" alt="{% trans "Trainer bij ChudartZ logo" %}">
                  </div>

                  <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
                    <h3>{% trans 'Demolessen' %}</h3>
                    <p>
                      {% blocktrans %}
                      Met ChudartZ brengen we de spannende wereld van darts ook naar scholen, sporthappenings, opendeurdagen, speelpleinwerking, SWAP-activiteiten of andere evenementen! Wij organiseren interactieve demolessen waarin jongeren op een leuke en veilige manier kennis kunnen maken met darts. Van het leren van basistechnieken tot het verbeteren van precisie. Onze activiteiten zijn ideaal om jongeren sportief en enthousiast te betrekken. Onze lessen zijn een perfecte aanvulling op sportieve en recreatieve activiteiten.
                      {% endblocktrans %}
                    </p>
                    <a href="{% url 'index' %}#contact" class="btn btn-get-started align-self-start">{% trans 'Contacteer Ons' %}</a>
                  </div>
                  
                </div>

                <!-- Feesten -->
                <div class="row gy-4 align-items-stretch justify-content-between features-item" id="feesten">
                  
                  <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
                    <h3>{% trans 'Feesten' %}</h3>
                    <p>
                      {% blocktrans %}
                      Iets te vieren? Speel darts als een pro op elk feest in Vlaanderen en omstreken. Onze dartstanden zorgen voor gegarandeerd plezier en gezelligheid, of het nu gaat om een trouwfeest, tuinfeest, personeelsfeest, bedrijfsfeest, communie, privéfeest, kerstfeest of een ander familie- of bedrijfsfeest. Bij ons vind je altijd een formule die past bij jouw gelegenheid.
                      Je kunt kiezen uit twee mogelijkheden:

                      - Met animatie: onze begeleiders zorgen voor extra sfeer, uitleg en entertainment.
                      - Zonder animatie: huur de dartstanden en laat je gasten vrij spelen wanneer ze willen.

                      Beide opties zorgen voor sfeer, plezier en gezelligheid en maken van jouw feest een unieke ervaring waar iedereen van geniet.
                      Huren kan al vanaf één dartstand.

                      Neem contact op via de knop hieronder voor een vrijblijvende offerte en laat jouw feest tot een onvergetelijke dartbeleving worden!
                      {% endblocktrans %}
                    </p>
                    <a href="{% url 'index' %}#contact" class="btn btn-get-started align-self-start">{% trans 'Contacteer Ons' %}</a>
                  
                  </div>

                  <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                    <img src="{% static "img/feesten/verhuur.webp" %}" class="img-fluid" alt="{% trans "Verhuur van een dartsbord" %}">
                  </div>

                </div>

                <div class="row gy-4 align-items-stretch justify-content-between features-item">
                  <div class="col-lg-4 col-md-12 d-flex align-items-center" data-aos="zoom-out">
                    <img src="{% static "img/feesten/feest3.webp" %}" class="img-fluid" alt="{% trans "feestopstelling bij ChudartZ" %}">
                  </div>
                  <div class="col-lg-4 col-md-12 d-flex align-items-center" data-aos="zoom-out">
                    <img src="{% static "img/feesten/feest4.webp" %}" class="img-fluid" alt="{% trans "ChudartZ in actie op een feest" %}">
                  </div>
                  <div class="col-lg-4 col-md-12 d-flex align-items-center" data-aos="zoom-out">
                    <img src="{% static "img/feesten/feest1.webp" %}" class="img-fluid" alt="{% trans "ChudartZ bij een feest" %}">
                  </div>
                </div>

            </section>
          </div>

        </div>

      </div>

    </section>

    </main>
  {% include 'blocks/footer.html' %}

</body>
{% endblock %}