{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | Teambuilding & Workshops
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<meta name="keywords" content="workshop(s), teambuilding, darts, bingo, challenges, oernooien, darts, school, zedelgem, provinciaal kampioenschap">
<meta name="description" content="{% blocktrans %}Darts kan een effectieve teambuildingactiviteit zijn door het organiseren van een toernooi of het uitvoeren van teamuitdagingen die samenwerking en strategie bevorderen. Teams kunnen specifieke rollen aannemen en moeten samenwerken om doelen te bereiken, wat de communicatie en teamdynamiek versterkt. Het gebruik van darts als icebreaker of reflectiesessie kan ook bijdragen aan een ontspannen sfeer en waardevolle feedback.{% endblocktrans %}">

<meta property="og:title" content="ChudartZ | Teambuilding & Workshops">
<meta property="og:description" content="{% blocktrans %}Darts kan een effectieve teambuildingactiviteit zijn door het organiseren van een toernooi of het uitvoeren van teamuitdagingen die samenwerking en strategie bevorderen. Teams kunnen specifieke rollen aannemen en moeten samenwerken om doelen te bereiken, wat de communicatie en teamdynamiek versterkt. Het gebruik van darts als icebreaker of reflectiesessie kan ook bijdragen aan een ontspannen sfeer en waardevolle feedback.{% endblocktrans %}">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | Dartschool">
<meta name="twitter:description" content="{% blocktrans %}Darts kan een effectieve teambuildingactiviteit zijn door het organiseren van een toernooi of het uitvoeren van teamuitdagingen die samenwerking en strategie bevorderen. Teams kunnen specifieke rollen aannemen en moeten samenwerken om doelen te bereiken, wat de communicatie en teamdynamiek versterkt. Het gebruik van darts als icebreaker of reflectiesessie kan ook bijdragen aan een ontspannen sfeer en waardevolle feedback.{% endblocktrans %}">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="dartschool-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Teambuilding" as page_name %}
    {% trans "Bij ChudartZ weten we dat geweldige prestaties op de dartbaan niet alleen afhangen van individuele vaardigheden, maar vooral van de kracht van een hecht team. Daarom organiseren wij ook teambuilding-evenementen." as page_description %}

    {% include 'blocks/page-title.html' with name=page_name description=page_description backgroundsecond="true" %}

    <section id="portfolio-details" class="portfolio-details section pt-0"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">

            <section id="features" class="features section p-0">
        
              <div class="container">
        
                <div class="row gy-4 align-items-center features-item">
                    <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h3>{% trans 'Teambuilding' %}</h3>
                    <p>
                    {% blocktrans %}
                      Een dag vol spannende dartscompetities, uitdagende teamspellen en een overvloed aan plezier en camaraderie. Of je nu een doorgewinterde darter bent of net begint, deze teambuilding is ontworpen om onze band te versterken en onze gezamenlijke vaardigheden te verbeteren.
                    {% endblocktrans %}
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i><span>{% trans 'Versterk je Team' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Verbeter je Spel' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Plezier & Ontspanning' %}</span></li>
                        <li><i class="bi bi-check"></i><span>{% trans 'Onvergetelijke Ervaring' %}</span></li>
                    </ul>
                    <a href="{% url 'index' %}#contact" class="btn btn-get-started">{% trans 'Contacteer Ons' %}</a>
                    </div>
                    <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                    <div class="image-stack">
                        <img src="{% static "img/school/school-1.jpg" %}" alt="" class="stack-front">
                        <img src="{% static "img/school/school-2.jpg" %}" alt="" class="stack-back">
                    </div>
                    </div>
                </div>

                <!-- Pricing Section -->
                <section id="pricing" class="pricing section">
            
                  <div class="container" data-aos="zoom-in" data-aos-delay="100">
            
                    <div class="row g-4 pt-5">
            
                      <div class="col-lg-4">
                        <div class="pricing-item position-relative">
                          <h3>{% trans 'Darts competitie' %}</h3>
                          <div class="icon">
                            <i class="bi bi-trophy"></i>
                          </div>
                          <p class="pt-2 pb-3">
                            {% blocktrans %}
                            Hier nemen teams het tegen elkaar op in een reeks spannende dartwedstrijden. Elk teamlid speelt om zoveel mogelijk punten te scoren, waarbij samenwerking en teamstrategie cruciaal zijn om als geheel succesvol te zijn.
                            {% endblocktrans %}
                          </p>
                          <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                            <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold">{% trans 'Contacteer Ons' %}</a>
                          </div>
                        </div>
                      </div><!-- End Pricing Item -->
            
                      <div class="col-lg-4">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Darts bingo' %}</h3>
                            <div class="icon">
                              <i class="bi bi-dice-3"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Dit is een leuke en interactieve manier om darts te integreren in een teambuilding activiteit. Het combineert het traditionele bingospel met darts en voegt een extra laag van uitdaging en plezier toe. 
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->
            
                      <div class="col-lg-4">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Teams Challenges' %}</h3>
                            <div class="icon">
                              <i class="bi bi-send"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Hier strijden teams tegen elkaar in een serie opwindende en strategische dartsopdrachten. Elk teamlid krijgt specifieke taken, zoals het behalen van bepaalde scores of het raken van vooraf gedefinieerde doelen op het dartbord. 
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->

                      <div class="col-lg-4">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Strategische darts' %}</h3>
                            <div class="icon">
                              <i class="bi bi-lightbulb"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Teams krijgen specifieke doelen en scenario's, zoals het behalen van een bepaalde score met een beperkt aantal worpen of het blokkeren van de tegenstander door strategisch te spelen. Het draait om slimme beslissingen en samenwerking om de beste tactiek te bepalen en de meeste punten te scoren.
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->

                      <div class="col-lg-4">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Darts met een vleugje originaliteit' %}</h3>
                            <div class="icon">
                            <i class="bi bi-brush"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Dit brengt een creatieve en verrassende draai aan het traditionele dartspel. Teams moeten hun pijlen gooien met unieke beperkingen of uitdagingen, zoals gooien met de niet-dominante hand, met een blinddoek, of na een speelse opdracht.
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->

                      <div class="col-lg-4">
                        <div class="pricing-item position-relative">
                            <h3>{% trans 'Andere mogelijkheden' %}</h3>
                            <div class="icon">
                            <i class="bi bi-three-dots"></i>
                            </div>
                            <p class="pt-2 pb-3">
                              {% blocktrans %}
                              Als je graag nog meer mogelijkheden wilt ontdekken voor een op maat gemaakte darts teambuilding, aarzel dan niet om contact met ons op te nemen!
                              {% endblocktrans %}
                            </p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-4">
                              <a href="{% url 'index' %}#contact" class="buy-btn text-center fw-bold">{% trans 'Contacteer Ons' %}</a>
                            </div>
                        </div>
                      </div><!-- End Pricing Item -->
            
                    </div>
            
                  </div>
            
                </section><!-- /Pricing Section -->
        
                <!-- <div class="row gy-4 align-items-stretch justify-content-between features-item ">
                    <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                    <img src="{% static "img/school/school-3.jpg" %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
                    <h3>{% trans 'Workshops' %}</h3>
                    <p>
                      {% trans 'Binnenkort!' %}
                    </p>
                    <a href="{% url 'index' %}"#contact class="btn btn-get-started align-self-start btn-disabled">Contacteer Ons</a>
                    </div>
                </div> -->

        
              </div>
        
            </section>
          </div>

        </div>

      </div>

    </section>

    </main>
  {% include 'blocks/footer.html' %}

</body>
{% endblock %}