{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block title %}
ChudartZ | {{ toernooi.titel}}
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<!-- TODO -->
<meta property="og:title" content="ChudartZ | {{ toernooi.titel }}">
<meta property="og:description" content="TODO">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | {{ toernooi.titel }}">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="services-details-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% trans "/toernooien" as page_previous_crumb_link %}
    {% trans "Toernooien" as page_previous_crumb %}

    {% include 'blocks/page-title.html' with name=toernooi.titel previous_crumb=page_previous_crumb previous_crumb_link=page_previous_crumb_link background="true" %}

    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <!-- TODO if statement -->
            <div class="service-box">
              <h4>Resultaten Beschikbaar</h4>
              <div class="services-list">
                <a href="{% url 'toernooi_resultaat' slug=toernooi.slug %}" class="btn btn-get-started align-self-start">{% blocktrans %}Bekijk Resultaten{% endblocktrans %}</a>
              </div>
            </div>

            {% include 'blocks/toernooi-info.html' with toernooi=toernooi %}
            
            {% include 'blocks/tijd-en-locatie.html' with toernooi=toernooi %}

            {% include 'blocks/vereisten.html' with vereisten=toernooi.vereisten_lijst %}
            
            {% if toernooi.afbeeldingen_download_url %}
            {% include 'blocks/afbeeldingen-download.html' with afbeeldingen_download_url=toernooi.afbeeldingen_download_url %}
            {% endif %}

          </div>  
          
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            {{ toernooi.beschrijving|safe }}
          </div>          

        </div>

      </div>

    </section>
    
  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}