{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block title %}
Chudarts | tornooien
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<!-- TODO -->
<meta property="og:title" content="ChudartZ | Tornooien">
<meta property="og:description" content="TODO">
<meta property="og:image" content="https://www.example.com/images/og-image.jpg">
<meta property="og:url" content="https://www.example.com">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | Tornooien">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="https://www.example.com/images/twitter-image.jpg">
{% endblock %}

{% block body %}
<body class="tornooien-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Tornooien" as page_name %}
    {% trans "Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem." as page_description %}

    {% include 'blocks/page-title.html' with name=page_name background="true" description=page_description %}

     <section id="blog-posts" class="blog-posts section">

      <div class="container">

        {% if tornooien %}
        <div class="row gy-4">
          {% for tornooi in tornooien %}
            {% include 'blocks/tornooi-card.html' with tornooi=tornooi %}
          {% endfor %}
        </div>
        {% else %}

          <div class="justify-content-center text-center">
            <h2>{% trans 'Er zijn nog geen tornooien beschikbaar!'%}</h2>
          </div>

        {% endif %}

      </div>

    </section>

    {% include 'blocks/pagination.html' with enable_pagination=enable_pagination page_obj=tornooien pagination_url_name="tornooien" %}
    

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}