{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block title %}
Chudarts | {{ tornooi.titel}} Inschrijven
{% endblock %}


{% block meta %}
<meta name="robots" content="noindex, nofollow">
<!-- TODO -->
<meta property="og:title" content="ChuDartz | {{ tornooi.titel }}">
<meta property="og:description" content="TODO">
<meta property="og:image" content="https://www.example.com/images/og-image.jpg">
<meta property="og:url" content="https://www.example.com">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChuDartz | {{ tornooi.titel }}">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="https://www.example.com/images/twitter-image.jpg">
{% endblock %}

{% block body %}
<body class="services-details-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% include 'blocks/page-title.html' with name="Inschrijven" description=tornooi.titel second_previous_crumb="Tornooien" second_previous_crumb_link="/tornooien" previous_crumb=tornooi.titel previous_crumb_link=tornooi.get_absolute_url %}

    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            {% include 'blocks/tijd-en-locatie.html' with tornooi=tornooi %}

            {% include 'blocks/vereisten.html' with vereisten=tornooi.vereisten_lijst %}

          </div>  
          
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box register">
              <form action="{{ request.path }}" method="post" id="register-form" class="register-form" data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %}
                <div class="row gy-4">
                    
                    <!-- Voornaam -->
                    <div class="col-md-6">
                        <input type="text" name="voornaam" class="form-control" placeholder="Voornaam" maxlength="100" required>
                    </div>
            
                    <!-- Achternaam -->
                    <div class="col-md-6">
                        <input type="text" name="achternaam" class="form-control" placeholder="Achternaam" maxlength="100" required>
                    </div>
            
                    <!-- Email -->
                    <div class="col-md-6">
                        <input type="email" name="email" class="form-control" placeholder="Email" maxlength="254" required>
                    </div>
            
                    <!-- Niveau -->
                    <div class="col-md-6">
                        <select name="niveau" class="form-select" required>
                            <option value="" disabled selected hidden>Selecteer je niveau</option>
                            {% for value, label in skill_level_choices %}
                                <option value="{{ value }}" class="valid">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
            
                    <!-- Straatnaam -->
                    <div class="col-md-8">
                        <input type="text" name="straatnaam" class="form-control" placeholder="Straatnaam" maxlength="100" required>
                    </div>
            
                    <!-- Nummer -->
                    <div class="col-md-4">
                        <input type="text" name="nummer" class="form-control" placeholder="Nummer" maxlength="6" required>
                    </div>
            
                    <!-- Postcode -->
                    <div class="col-md-4">
                        <input type="number" name="postcode" class="form-control" placeholder="Postcode" min="0" max="9999" required>
                    </div>
            
                    <!-- Stad -->
                    <div class="col-md-6">
                        <input type="text" name="stad" class="form-control" placeholder="Stad" maxlength="40" required>
                    </div>

                    <!-- Ticket -->
                    <div class="col-md-6">
                      {% if tickets|length == 1 %}
                        {% with ticket=tickets.first %}
                          <select name="ticket" class="form-select" required>
                              <option class="valid" value="{{ ticket.pk }}" selected>{{ ticket }}</option>
                          </select>
                        {% endwith %}
                      {% else %}
                        <select name="ticket" class="form-select" required>
                          <option value="" disabled selected hidden>Selecteer je ticket</option>
                          {% for ticket in tickets %}
                            <option class="valid" value="{{ ticket.pk }}">{{ ticket }}</option>
                          {% endfor %}
                        </select>
                      {% endif %}
                    </div>

                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          Door deel te nemen aan dit evenement, verklaart u zich akkoord met het verwerken van uw persoonsgegevens in overeenstemming met de wet op de privacy. Uw gegevens worden vertrouwelijk behandeld en uitsluitend gebruikt voor doeleinden gerelateerd aan dit evenement.
                        </label>
                      </div>  
                    </div>
                    
                    {% if tornooi.vereist_voogd_toestemming %}
                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          Als ouder/voogd, geef ik toestemming aan mijn minderjarige kind om deel te nemen aan de wedstrijd en verklaar mij akkoord met het verwerken van diens persoonsgegevens in overeenstemming met de wet op de privacy. 
                          Ik weet dat deze gegevens vertrouwelijk zullen worden behandeld en uitsluitend gebruikt zullen worden voor doeleinden gerelateerd aan dit evenement.
                        </label>
                      </div>
                    </div>
                    {% endif %}

                    <!-- Submit Button -->
                    <div class="col-12 text-center">
                        <button type="submit">Inschrijven</button>
                    </div>
                    
                </div>
              </form>
            
            </div>
          </div>          

        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}
