{% extends 'main.html' %}

{% load static dutch_date %}

{% block title %}
Chudarts | {{ tornooi.titel}}
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<!-- TODO -->
<meta property="og:title" content="ChuDartz | {{ tornooi.titel }}">
<meta property="og:description" content="TODO">
<meta property="og:image" content="https://www.example.com/images/og-image.jpg">
<meta property="og:url" content="https://www.example.com">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChuDartz | {{ tornooi.titel }}">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="https://www.example.com/images/twitter-image.jpg">
{% endblock %}

{% block body %}
<body class="services-details-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% include 'blocks/page-title.html' with name=tornooi.titel previous_crumb="Tornooien" previous_crumb_link="/tornooien" background="true" %}

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            
            {% include 'blocks/tijd-en-locatie.html' with tornooi=tornooi inschrijven="true" %}

            {% include 'blocks/vereisten.html' with vereisten=tornooi.vereisten_lijst %}
            
            {% if tornooi.afbeeldingen_download_url %}
            {% include 'blocks/afbeeldingen-download.html' with afbeeldingen_download_url=tornooi.afbeeldingen_download_url %}
            {% endif %}

          </div>  
          
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            {{ tornooi.beschrijving|safe }}
          </div>          

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}