{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block title %}
ChudartZ | {{ toernooi.titel}} Inschrijven
{% endblock %}


{% block meta %}
<meta name="robots" content="noindex, nofollow">
<!-- TODO -->
<meta property="og:title" content="ChudartZ | {{ toernooi.titel }}">
<meta property="og:description" content="TODO">
<meta property="og:image" content="{% static 'img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | {{ toernooi.titel }}">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="{% static 'img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="services-details-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% trans "Inschrijven" as page_name %}
    {% trans "/toernooien" as page_second_previous_crumb_link %}
    {% trans "Toernooien" as page_second_previous_crumb %}

    {% include 'blocks/page-title.html' with name=page_name description=toernooi.titel second_previous_crumb=page_second_previous_crumb second_previous_crumb_link=page_second_previous_crumb_link previous_crumb=toernooi.titel previous_crumb_link=toernooi.get_absolute_url %}

    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            {% include 'blocks/tijd-en-locatie.html' with toernooi=toernooi disable_inschrijvingen_knop="true" %}

            {% include 'blocks/vereisten.html' with vereisten=toernooi.vereisten_lijst %}

          </div>  
          
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box register">
              <h4>{% trans 'Schrijf je in' %}</h4>

              <form action="{{ request.path }}" method="post" id="register-form" class="register-form" data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %}
                <div class="row gy-4">
                    
                    <!-- Voornaam -->
                    <div class="col-md-6">
                        <input type="text" name="voornaam" class="form-control" placeholder="{% trans 'Voornaam' %}" maxlength="100" required>
                    </div>
            
                    <!-- Achternaam -->
                    <div class="col-md-6">
                        <input type="text" name="achternaam" class="form-control" placeholder="{% trans 'Achternaam' %}" maxlength="100" required>
                    </div>
            
                    <!-- Email -->
                    <div class="col-md-6">
                        <input type="email" name="email" class="form-control" placeholder="{% trans 'Email' %}" maxlength="254" required>
                    </div>
            
                    <!-- Niveau -->
                    <div class="col-md-6">
                        <select name="niveau" class="form-select" required>
                            <option value="" disabled selected hidden>{% trans 'Selecteer je niveau' %}</option>
                            {% for value, label in skill_level_choices %}
                                <option value="{{ value }}" class="valid">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
            
                    <!-- Straatnaam -->
                    <div class="col-md-8">
                        <input type="text" name="straatnaam" class="form-control" placeholder="{% trans 'Straatnaam' %}" maxlength="100" required>
                    </div>
            
                    <!-- Nummer -->
                    <div class="col-md-4">
                        <input type="text" name="nummer" class="form-control" placeholder="{% trans 'Nummer' %}" maxlength="6" required>
                    </div>
            
                    <!-- Postcode -->
                    <div class="col-md-4">
                        <input type="number" name="postcode" class="form-control" placeholder="{% trans 'Postcode' %}" min="0" max="9999" required>
                    </div>
            
                    <!-- Stad -->
                    <div class="col-md-6">
                        <input type="text" name="stad" class="form-control" placeholder="{% trans 'Stad' %}" maxlength="40" required>
                    </div>

                    <!-- Ticket -->
                    <div class="col-md-6">
                      {% if tickets|length == 1 %}
                        {% with ticket=tickets.first %}
                          <select name="ticket" class="form-select" required>
                              <option class="valid" value="{{ ticket.pk }}" selected>{{ ticket }}</option>
                          </select>
                        {% endwith %}
                      {% else %}
                        <select name="ticket" class="form-select" required>
                          <option value="" disabled selected hidden>{% trans 'Selecteer je ticket' %}</option>
                          {% for ticket in tickets %}
                            <option class="valid" value="{{ ticket.pk }}">{{ ticket }}</option>
                          {% endfor %}
                        </select>
                      {% endif %}
                    </div>

                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          {% trans 'Ik ga akkoord met de ' %}<a href="{% url 'algemene_voorwaarden' %}">{% trans 'Algemene voorwaarden'%}</a> {% trans 'van ChudartZ.'%}
                        </label>
                      </div>  
                    </div>
                    
                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          {% trans 'Ik ga akkoord met het' %} <a href="{% url 'reglement_toernooien' %}">{% trans 'Algemeen reglement' %}</a> {% trans 'voor darttoernooien. '%}
                        </label>
                      </div>  
                    </div>
                    
                    {% if toernooi.vereist_voogd_toestemming %}
                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          {% blocktrans %}
                          Als ouder/voogd, geef ik toestemming aan mijn minderjarige kind om deel te nemen aan de wedstrijd en verklaar mij akkoord met het verwerken van diens persoonsgegevens in overeenstemming met de wet op de privacy. 
                          Ik weet dat deze gegevens vertrouwelijk zullen worden behandeld en uitsluitend gebruikt zullen worden voor doeleinden gerelateerd aan dit evenement.
                          {% endblocktrans %}
                        </label>
                      </div>
                    </div>
                    {% endif %}

                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label text-muted small" for="flexCheckDefault">
                          {% trans 'Ik ga akkoord met de' %} <a href="{% url 'disclaimer' %}">{% trans 'Disclaimer' %}</a> {% trans 'van ChudartZ.' %}
                        </label>
                      </div>  
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12 text-center">
                        <button type="submit">{% trans 'Inschrijven' %}</button>
                    </div>
                    
                </div>
              </form>
            
            </div>
          </div>          

        </div>

      </div>

    </section>

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}
