{% extends 'main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ | 404
{% endblock %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
<meta property="og:title" content="ChudartZ | 404">
{% endblock %}

{% block body %}
<body class="over-ons-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% trans "404 - Pagina niet gevonden" as page_name %}

    {% include 'blocks/page-title.html' with name=page_name %}

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}