{% extends 'main.html' %}

{% load static dutch_date %}

{% block title %}
Chudarts | {{ tornooi.titel}}
{% endblock %}

{% block body %}
<body class="services-details-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% include 'blocks/page-title.html' with name="Inschrijven" description="Dartschool" previous_crumb="Dartschool" previous_crumb_link="/dartschool" %}

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            {% include 'blcoks/tijd-en-locatie.html' with static_data={'tijd': 'Elke woensdag & vrijdag van 14u-16u', 'locatie': 'Torhoutsesteenweg 441, Zedelgem'} %}

            {% include 'blocks/vereisten.html' with vereisten=["10 jaar oud", "blabla", "etc"] %}

          </div>  
          
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box register">
              <form action="{{ request.path }}" method="post" id="register-form" class="register-form" data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %}
                <div class="row gy-4">
                    
                    <!-- Voornaam -->
                    <div class="col-md-6">
                        <input type="text" name="voornaam" class="form-control" placeholder="Voornaam" maxlength="100" required>
                    </div>
            
                    <!-- Achternaam -->
                    <div class="col-md-6">
                        <input type="text" name="achternaam" class="form-control" placeholder="Achternaam" maxlength="100" required>
                    </div>
            
                    <!-- Email -->
                    <div class="col-md-6">
                        <input type="email" name="email" class="form-control" placeholder="Email" maxlength="254" required>
                    </div>
            
                    <!-- Straatnaam -->
                    <div class="col-md-8">
                        <input type="text" name="straatnaam" class="form-control" placeholder="Straatnaam" maxlength="100" required>
                    </div>
            
                    <!-- Nummer -->
                    <div class="col-md-4">
                        <input type="text" name="nummer" class="form-control" placeholder="Nummer" maxlength="6" required>
                    </div>
            
                    <!-- Postcode -->
                    <div class="col-md-4">
                        <input type="number" name="postcode" class="form-control" placeholder="Postcode" min="0" max="9999" required>
                    </div>
            
                    <!-- Stad -->
                    <div class="col-md-6">
                        <input type="text" name="stad" class="form-control" placeholder="Stad" maxlength="40" required>
                    </div>
            
                    <!-- Submit Button -->
                    <div class="col-12 text-center">
                        <button type="submit">Inschrijven</button>
                    </div>
                    
                </div>
              </form>
            
            </div>
          </div>          

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}
