{% extends 'main.html' %}

{% load static %}

{% block title %}
Chudarts | {{ tornooi.titel}}
{% endblock %}

{% block body %}
<body class="services-details-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% include 'blocks/page-title.html' with name=tornooi.titel previous_crumb="Dartstornooien" previous_crumb_link="/dartstornooien" %}

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h4>Vereisten</h4>
              <div class="services-list">
                {% for vereiste in tornooi.vereisten_lijst %}
                <p><i class="bi bi-check"></i><span>{{ vereiste }}</span></p>
                {% endfor %}
              </div>
              {% if tornooi.is_in_future and not tornooi.is_sold_out %}
                <a href="#" class="btn btn-get-started align-self-start">Schrijf je in</a>
              {% endif %}

            </div><!-- End Services List -->

            
            
            {% if tornooi.afbeeldingen_download_url %}
            <div class="service-box">
              <h4>Download Afbeeldingen</h4>
              <div class="download-catalog">
                <a href="{{ tornooi.afbeeldingen_download_url }}"><i class="bi bi-images"></i><span>Downloaden</span></a>
              </div>
            </div><!-- End Services List -->
            {% endif %}

          </div>  
          
          <!-- TODO info over evenement (tijd etc) + beschrijving -->
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/services.jpg" alt="" class="img-fluid services-img">
            <h3>Temporibus et in vero dicta aut eius lidero plastis trand lined voluptas dolorem ut voluptas</h3>
            <p>
              Blanditiis voluptate odit ex error ea sed officiis deserunt. Cupiditate non consequatur et doloremque consequuntur. Accusantium labore reprehenderit error temporibus saepe perferendis fuga doloribus vero. Qui omnis quo sit. Dolorem architecto eum et quos deleniti officia qui.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro nisi nihil nesciunt voluptatibus.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
            </ul>
            <p>
              Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio iste veniam repellat odit. Aut pariatur itaque nesciunt fuga.
            </p>
            <p>
              Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam aut consequuntur recusandae mollitia doloremque est architecto cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex repellendus eveniet velit sint quia sapiente cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates tenetur nostrum. Eaque iusto cupiditate et totam et quia dolorum in. Sunt molestiae ipsum at consequatur vero. Architecto ut pariatur autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit dolore alias explicabo ea.
            </p>
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}