{% extends 'main.html' %}

{% load static dutch_date %}

{% block title %}
Chudarts | tornooien
{% endblock %}

{% block body %}
<body class="over-ons-page">

  {% include 'blocks/header-sticky.html' %}

  <main class="main">

    {% include 'blocks/page-title.html' with name="Tornooien" background="true" description="Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem." %}

     <!-- Blog Posts Section -->
     <section id="blog-posts" class="blog-posts section">

      <div class="container">
        {% if tornooien %}
        {% for tornooi in tornooien %}

        <div class="row gy-4">

          <div class="col-lg-4">
            <article>

              <div class="post-img">
                <img src="{{ tornooi.afbeelding.url }}" alt="" class="img-fluid">
              </div>

              <p class="post-category">{{ tornooi.locatie_kort }}</p>

              <h2 class="title">
                <a href="/tornooien/{{ tornooi.slug }}">{{ tornooi.titel }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">
                    {% if tornooi.is_same_day %}
                        {{ tornooi.start_datum|dutch_datetime }} - {{ tornooi.einde_datum|dutch_time }}
                    {% else %}
                        {{ tornooi.start_datum|dutch_datetime }} - {{ tornooi.einde_datum|dutch_datetime }}
                    {% endif %}
                  </p>
                  
                  <p class="post-date">
                    {% if tornooi.is_sold_out %}
                      <i class="bi bi-exclamation-circle"></i><span> Uitverkocht!</span>
                    {% endif %}
                    {% if tornooi.is_sold_out and not tornooi.is_in_future %}
                      <i class="bi bi-dot"></i>
                    {% endif %}
                    {% if not tornooi.is_in_future %}
                      {% if tornooi.is_bezig %}
                      <i class="bi bi-hourglass-split"></i><span> Bezig</span>
                      {% else %}
                      <i class="bi bi-clock-history"></i><span> Afgelopen</span>
                      {% endif %}
                    {% endif %}
                  </p>
                  
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          {% endfor %}
          {% else %}
          <div class="justify-content-center text-center">
            <h2>Er zijn nog geen tornooien beschikbaar!</h2>
          </div>
          {% endif %}

        </div>
      </div>

    </section><!-- /Blog Posts Section -->

    {% if enable_pagination %}
    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

      <div class="container">
        <div class="d-flex justify-content-center">
          <ul>
            <!-- previous page -->
            {% if page_obj.has_previous %}
                <li><a href="{% url 'terms-by-page' page_obj.previous_page_number %}"><i class="bi bi-chevron-left"></i></a></li>
            {% endif%}

            <!-- elided numbers -->
            {% for page_number in page_obj.paginator.get_elided_page_range %}
              {% if page_number == page_obj.paginator.ELLIPSIS %}
                <li>...</li>
              {% else %}
                <a href="{% url 'terms-by-page' page_number %}" class="{% if page_number == page_obj.number %}active{% endif %}">
                  {{page_number}}
                </a>
              {% endif %}
            {% endfor %}

            <!-- next page -->
            {% if page_obj.has_next %}
                <li><a href="{% url 'terms-by-page' page_obj.next_page_number %}"><i class="bi bi-chevron-right"></i></a></li>
            {% endif%}
          </ul>
        </div>
      </div>

    </section><!-- /Blog Pagination Section -->
    {% endif %}

  </main>

  {% include 'blocks/footer.html' %}

</body>
{% endblock %}