{% extends 'pokemon/main.html' %}

{% load static i18n %}

{% block title %}
ChudartZ Collectibles | Disclaimer
{% endblock %}

{% block meta %}
<meta NAME="robots" CONTENT="noindex, nofollow">
{% endblock %}

{% block body %}
<body class="disclaimer-page">

  {% include 'pokemon/blocks/header-sticky.html' %}

  <main class="main">
    {% trans "Disclaimer" as page_title %}
    {% include 'pokemon/blocks/page-title.html' with name=page_title description='Het is uw verantwoordelijkheid om regelmatig de disclaimer/algemene voorwaarden te raadplegen om op de hoogte te blijven van eventuele wijzigingen.' %}

    <section id="portfolio-details" class="portfolio-details section"> 

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div data-aos="fade-up">
            <div class="portfolio-description">
                <h2>{% trans 'Privacybescherming' %}</h2>
                <p>
                  {% url 'privacybeleid' as privacy_url %}
                  {% blocktrans %}
                  Wij nemen de bescherming van uw privacy zeer serieus. Alle persoonlijke gegevens die u via deze 
                  website en/of deelnameformulier verstrekt, worden met de grootste zorgvuldigheid behandeld en 
                  alleen gebruikt in overeenstemming met inachtneming van de privacy van het individu. Wij doen er 
                  alles aan om uw gegevens te beveiligen tegen ongeautoriseerde toegang, verlies of diefstal, maar 
                  kunnen geen absolute veiligheid garanderen. Zie ook ons <a href="{{ privacy_url}}">privacybeleid</a>.
                  {% endblocktrans %}
                </p>

                <h2 class="pt-5">{% trans 'Aansprakelijkheidsuitsluiting' %}</h2>
                <p>
                  {% blocktrans %}
                  De informatie op deze website is uitsluitend bedoeld voor algemene informatiedoeleinden. Hoewel 
                  wij ons inspannen om de inhoud up-to-date en accuraat te houden, aanvaarden wij geen enkele 
                  verantwoordelijkheid of aansprakelijkheid voor de juistheid, volledigheid, of bruikbaarheid van de 
                  informatie, noch voor fouten of omissies daarin.
                  Wij zijn niet aansprakelijk voor directe, indirecte, incidentele, gevolg- of enige andere schade die 
                  voortvloeit uit het gebruik van of het vertrouwen op de verstrekte informatie. Dit omvat, zonder 
                  beperking, verlies van gegevens of winst, schade aan eigendommen of schadeclaims van derden.
                  {% endblocktrans %}
                </p>

                <h2 class="pt-5">{% trans 'Inschrijving en deelname op eigen risico' %}</h2>
                <p>
                  {% blocktrans %}
                  Door u in te schrijven voor een evenement via deze website en/of deelnameformulier erkent u dat 
                  deelname geheel op eigen risico geschiedt. Wij zijn niet verantwoordelijk of aansprakelijk voor 
                  enige schade, letsel, of verlies dat voortvloeit uit deelname aan het evenement, tenzij deze schade 
                  direct te wijten is aan opzet of grove nalatigheid van de organisator.
                  U wordt geadviseerd om uw eigen verzekeringen en voorzorgsmaatregelen te treffen.
                  {% endblocktrans %}
                </p>

                <h2 class="pt-5">{% trans 'Externe links' %}</h2>
                <p>
                  {% blocktrans %}
                  Deze website kan links bevatten naar externe websites of diensten die niet onder onze controle 
                  vallen. Wij zijn niet verantwoordelijk voor de inhoud, privacypraktijken of enige schade 
                  voortvloeiend uit het gebruik van dergelijke externe sites of diensten. Het opnemen van links 
                  betekent niet dat wij de inhoud of diensten goedkeuren.
                  {% endblocktrans %}
                </p>
                
                <h2 class="pt-5">{% trans 'Geen terugbetalingen' %}</h2>
                <p>
                  {% blocktrans %}
                  Gekochte tickets kunnen niet worden terugbetaald of omgeruild, behalve in bepaalde gevallen van 
                  annulering van het evenement door de organisatie.
                  {% endblocktrans %}
                </p>

                <h2 class="pt-5">{% trans 'Overdracht van tickets' %}</h2>
                <p>
                  {% blocktrans %}
                  Het is niet toegestaan om tickets door te verkopen of over te dragen zonder uitdrukkelijke 
                  toestemming van de organisator.
                  {% endblocktrans %}
                </p>
                
                <h2 class="pt-5">{% trans 'Toegang en beveiliging' %}</h2>
                <p>
                  {% blocktrans %}
                  De organisator behoudt zich het recht voor om, zonder terugbetaling, toegang te weigeren of 
                  personen uit het evenement te verwijderen indien zij zich niet aan de regels houden of ongepast 
                  gedrag vertonen.
                  {% endblocktrans %}
                </p>
                

                <h2 class="pt-5">{% trans 'Wijzigingen' %}</h2>
                <p>
                  {% blocktrans %}
                  Wij behouden ons het recht voor om deze disclaimer en/of de algemene voorwaarden op elk 
                  moment te wijzigen. Het is uw verantwoordelijkheid om regelmatig deze disclaimer te raadplegen 
                  om op de hoogte te blijven van eventuele wijzigingen
                  {% endblocktrans %}
                </p>
                
            </div>
          </div>

        </div>

      </div>

    </section>

  </main>

  {% include 'pokemon/blocks/footer.html' %}

</body>
{% endblock %}