{% extends 'main.html' %}

{% load static dutch_date i18n %}

{% block title %}
ChudartZ Collectibles | {{ evenement.titel }}
{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<!-- TODO -->
<meta property="og:title" content="ChudartZ Collectibles | {{ evenement.titel }}">
<meta property="og:description" content="TODO">
<meta property="og:image" content="{% static 'pokemon/img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ | {{ evenement.titel }}">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="{% static 'pokemon/img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="evenementen-page">

  {% include 'pokemon/blocks/header-sticky.html' %}

  <main class="main">

    {% trans "/evenementen" as page_previous_crumb_link %}
    {% trans "Evenementen" as page_previous_crumb %}

    {% include 'blocks/page-title.html' with name=evenement.titel previous_crumb=page_previous_crumb previous_crumb_link=page_previous_crumb_link background="true" %}

    <section id="intro" class="section features">
      <div class="container">
        
        <div class="row gy-4 align-items-center features-item">
            <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h3>{{ evenement.titel_sectie_a }}</h3>

              {% if evenement.is_sold_out %}
                <span class="badge bg-secondary">Uitverkocht</span>
              {% endif %}

              {% if not evenement.enable_inschrijvingen %}
                <span class="badge bg-secondary">Inschrijvingen gesloten</span>
              {% endif %}

              {% if not evenement.is_in_future %}
                {% if evenement.is_bezig %}
                <span class="badge bg-secondary">Bezig</span>
                {% else %}
                <span class="badge bg-secondary">Afgelopen</span>
                {% endif %}
              {% endif %}   

              <p>{{ evenement.tekst_sectie_a|safe }}</p>
              <ul>
                  <li><i class="bi bi-calendar-event"></i><span>
                    {% if evenement.is_same_day %}
                      {{ evenement.start_datum|dutch_datetime }} - {{ evenement.einde_datum|dutch_time }}
                    {% else %}
                      {{ evenement.start_datum|dutch_datetime }} - {{ evenement.einde_datum|dutch_datetime }}
                    {% endif %}
                  </span></li>

                  <li><i class="bi bi-geo-alt"></i><span>{{ evenement.locatie_lang }}</span></li>
              </ul>
              <a href="#pricing" class="btn btn-get-started">{% trans 'Bekijk tickets' %}</a>
              <a href="{% url 'standhouder' slug=evenement.slug %}" class="btn btn-get-started">{% trans 'Standhouder worden' %}</a> 
            </div>
            
            <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="image-stack">
                <img src="{% static "img/dartschool/oefenborden.webp" %}" alt="{% trans "Oefenborden dartschool" %}" class="stack-front">
                <img src="{% static "img/dartschool/wedstrijdbord.webp" %}" alt="{% trans "Wedstrijdbord" %}" class="stack-back">
            </div>
            </div>
        </div>
    </section>

    <section id="pricing" class="pricing section light-background">
      <div class="container">
        <div class="row g-4">
          {% for ticket in tickets %}
          {% include 'pokemon/blocks/ticket.html' with ticket=ticket %}
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="over-ons" class="over-ons section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <a href="#"><i class="bi bi-buildings"></i></a>
                  <h3>{% trans 'Ruilen' %}</h3>
                  <p>
                    {% blocktrans %}
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas perferendis esse libero vitae.
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
              
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <a href="#"><i class="bi bi-trophy"></i></a>
                  <h3>{% trans 'Grootste in Belgie' %}</h3>
                  <p>
                    {% blocktrans %}
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas perferendis esse libero vitae.
                    {% endblocktrans %}
                  </p>
                </div>
              </div>

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <a href="#"><i class="bi bi-people"></i></a>
                  <h3>{% trans 'Gezelligheid' %}</h3>
                  <p>
                    {% blocktrans %}
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas perferendis esse libero vitae.
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
              
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <a href="#"><i class="bi bi-question-circle"></i></a>
                  <h3>{% trans 'Unieke collectibles' %}</h3>
                  <p>
                    {% blocktrans %}
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas perferendis esse libero vitae.
                    {% endblocktrans %}
                    </p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-xl-5 content">
            <h3>{% trans 'Meer Info' %}</h3>
            <h2>{% trans 'Over ChudartZ' %}</h2>
            <p>
              {% blocktrans %}
              Welkom bij ChudartZ, dé bestemming voor darts in Zedelgem en daarbuiten. We willen onze passie voor darts graag met jullie delen en overbrengen.
              Onze eigen jeugd dartschool biedt spelers van alle niveaus de kans om hun vaardigheden te verbeteren, met een bijzondere focus op het ontwikkelen van jong talent. We streven ernaar om regelmatig toernooien te organiseren waarin spelers van alle niveaus samenkomen en de competitie met elkaar aangaan.
              {% endblocktrans %}
            </p>
            <a href="#" class="read-more"><span>{% trans 'Bestel Tickets' %}</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>
      </div>

    </section>
    
  </main>

  {% include 'pokemon/blocks/footer.html' %}

</body>
{% endblock %}