{% extends 'pokemon/main.html' %}

{% load static i18n %}

{% block meta %}
<meta name="description" content="TODO">
<meta name="robots" content="index, follow">
<!-- todo -->
<meta property="og:title" content="ChudartZ Collectibles">
<meta property="og:description" content="TODO">
<meta property="og:image" content="{% static 'pokemon/img/logo-black.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ">
<meta name="twitter:description" content="TODO">
<meta name="twitter:image" content="{% static 'pokemon/img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="index-page">

  {% include 'pokemon/blocks/header-fixed.html' %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <!-- Image background in case the video is not supported -->
      <img src="{% static "pokemon/img/school/school-3.jpg" %}" alt="" data-aos="fade-in">

      <!-- Video background -->
      <video autoplay muted loop playsinline class="video-background">
        <source src="{% static 'pokemon/video/hero-bg.mp4' %}" type="video/mp4">
      </video>

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">{% trans 'Welkom bij' %} <span class="kamikaze">ChudartZ</span>  Collectibles</h2>
            <p data-aos="fade-up" data-aos-delay="200">
              {% trans 'Uw ultieme bestemming voor alles wat met collectibles te maken heeft.' %}
            </p>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->


    <!-- About Section -->
    <section id="over-ons" class="over-ons section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>{% trans 'Over Ons' %}</h3>
            <h2>{% trans 'ChudartZ Collectibles' %}</h2>
            <p>
              {% blocktrans %}
              Welkom bij ChudartZ Collectibles, dé bestemming voor liefhebbers van unieke en bijzondere verzamelobjecten en evenementen! Bij ons staat de passie voor collectibles centraal, met een speciale focus op Pokémon en andere populaire items. Of je nu een doorgewinterde verzamelaar bent of net begint, wij bieden je de kans om je passie te delen met gelijkgestemden.
              {% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}
              Wij organiseren regelmatig beurzen en evenementen waar verzamelaars samenkomen om unieke stukken te ontdekken, te ruilen en ervaringen uit te wisselen. Bij ChudartZ Collectibles bieden we een platform waar de verzamelwereld op een dynamische en inspirerende manier tot leven komt.
              {% endblocktrans %}
            </p>
            <a href="" class="read-more"><span>{% trans 'Lees Meer' %}</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <a href=""><i class="bi bi-stars"></i></a>
                  <h3>{% trans 'Evenementen' %}</h3>
                  <p>
                    {% blocktrans %}
                    Bij Chudartz bieden we een professionele dartschool aan in Zedelgem, 
                    waar spelers van alle niveaus hun vaardigheden kunnen verbeteren. 
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
              
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <a href=""><i class="bi bi-question-circle"></i></a>
                  <h3>{% trans 'FAQ' %}</h3>
                  <p>
                    {% blocktrans %}
                    Wij organiseren regelmatig darttoernooien waar zowel amateurs als professionals kunnen deelnemen.
                    Aarzel niet om je in te schrijven! 
                    {% endblocktrans %}
                  </p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </section><!-- /About Section -->


    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <div class="container section-title" data-aos="fade-up">
        <h2>{% trans 'Afbeeldingen' %}</h2>
        <p>{% trans "Laat je inspireren door de foto's van onze dartsevenementen en lessen, en ervaar de energie en gemeenschap van onze club." %}</p>
      </div>

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="afbeelding-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">{% trans 'Alle' %}</li>
            <li data-filter=".filter-school">{% trans 'School' %}</li>
            <li data-filter=".filter-toernooi">{% trans 'Toernooien' %}</li>
          </ul>

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">
              <img src="{% static "pokemon/img/album/album-1.jpg" %}" class="img-fluid" alt="" loading="lazy">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static "pokemon/img/album/album-1.jpg" %}" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-toernooi">
              <img src="{% static "pokemon/img/album/album-2.jpg" %}" class="img-fluid" alt="" loading="lazy">
              <div class="portfolio-info">
                <h4>Product 1</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static "pokemon/img/album/album-2.jpg" %}" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-branding">
              <img src="{% static "pokemon/img/album/album-3.jpg" %}" class="img-fluid" alt="" loading="lazy">
              <div class="portfolio-info">
                <h4>Branding 1</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static "pokemon/img/album/album-3.jpg" %}" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">
              <img src="{% static "pokemon/img/album/album-4.jpg" %}" class="img-fluid" alt="" loading="lazy">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static "pokemon/img/album/album-4.jpg" %}" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-toernooi">
              <img src="{% static "pokemon/img/album/album-5.jpg" %}" class="img-fluid" alt="" loading="lazy">
              <div class="portfolio-info">
                <h4>Product 2</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static "pokemon/img/album/album-5.jpg" %}" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-branding">
              <img src="{% static "pokemon/img/album/album-6.jpg" %}" class="img-fluid" alt="" loading="lazy">
              <div class="portfolio-info">
                <h4>Branding 2</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static "pokemon/img/album/album-6.jpg" %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container section-title" data-aos="fade-up">
        <h2>{% trans 'Contact' %}</h2>
        <p>{% trans 'Aarzel niet om ons te contacteren!' %}</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <a href="tel:+32471237769"><i class="bi bi-telephone"></i></a>
                  <h3>{% trans 'Bel/Whatsapp ons' %}</h3>
                  <p><a href="tel:+32471237769">+32471/23/77/69</a></p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <a href="mailto:chudartz@gmail.com"><i class="bi bi-envelope"></i></a>
                  <h3>{% trans 'Email ons' %}</h3>
                  <p><a href="mailto:chudartz@gmail.com">chudartz@gmail.com</a></p>
                </div>
              </div>

              <div class="col-md-12">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <div id="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.708431907577!2d3.1689395764941453!3d51.13228593803756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c34e1c6c98cbb9%3A0x7b40593768943baf!2sWilgenlaan%2035%2C%208210%20Zedelgem!5e0!3m2!1snl!2sbe!4v1724578559432!5m2!1snl!2sbe" width="100%" height="295" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col-lg-6"> 
            
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <div style="padding-left: 30px;">
                <i class="bi bi-inbox"></i>
                <h3>{% trans 'Stuur ons een bericht' %}</h3>
              </div>
              <form action="{% url 'contact' %}" method="POST" id="email-form" class="email-form">
                {% csrf_token %}
                <div class="row gy-4">
            
                    <!-- Name -->
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="{% trans 'Naam' %}" maxlength="100" required>
                    </div>
            
                    <!-- Email -->
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" placeholder="{% trans 'Email' %}" maxlength="254" required>
                    </div>
            
                    <!-- Subject -->
                    <div class="col-12">
                        <input type="text" class="form-control" name="subject" placeholder="{% trans 'Onderwerp' %}" maxlength="100" required>
                    </div>
            
                    <!-- Message -->
                    <div class="col-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="{% trans 'Bericht' %}" required></textarea>
                    </div>
            
                    <!-- Submit Button and Feedback Messages -->
                    <div class="col-12 text-center">
                        <div class="loading" style="display:none;">{% trans 'Laden...' %}</div>
                        <div class="error-message" style="display:none;"></div>
                        <div class="sent-message" style="display:none;">{% trans 'Uw bericht is verzonden. Bedankt!' %}</div>
                        <button type="submit">{% trans 'Stuur bericht' %}</button>
                    </div>
            
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  {% include 'pokemon/blocks/footer.html' %}

  <script src="{% static "pokemon/vendor/email-form/validate.js" %}" defer></script>

</body>
{% endblock %}