{% extends 'pokemon/main.html' %}

{% load static i18n %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js?render=6LfebC8qAAAAAEQpGOujwPZHPtijR5u2k2CNqtmV"></script>
{% endblock %}

{% block meta %}
<meta name="description" content="Welkom bij ChudartZ Collectibles, dé bestemming voor liefhebbers van Pokémon en andere unieke verzamelobjecten. Ontdek onze gemeenschap, blijf op de hoogte van onze evenementen en deel jouw passie met andere verzamelaars. Bezoek onze website voor meer informatie over onze activiteiten!">
<meta name="robots" content="index, follow">
<meta property="og:title" content="ChudartZ Collectibles">
<meta property="og:description" content="Welkom bij ChudartZ Collectibles, dé bestemming voor liefhebbers van Pokémon en andere unieke verzamelobjecten. Ontdek onze gemeenschap, blijf op de hoogte van onze evenementen en deel jouw passie met andere verzamelaars. Bezoek onze website voor meer informatie over onze activiteiten!">
<meta property="og:image" content="{% static 'pokemon/img/logo-black.png' %}">
<meta name="keywords" content="pokémon, chudartz, beurs, evenementen, zedelgem, collectibles">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChudartZ Collectibles">
<meta name="twitter:description" content="Welkom bij ChudartZ Collectibles, dé bestemming voor liefhebbers van Pokémon en andere unieke verzamelobjecten. Ontdek onze gemeenschap, blijf op de hoogte van onze evenementen en deel jouw passie met andere verzamelaars. Bezoek onze website voor meer informatie over onze activiteiten!">
<meta name="twitter:image" content="{% static 'pokemon/img/logo-black.png' %}">
{% endblock %}

{% block body %}
<body class="index-page">

  {% include 'pokemon/blocks/header-fixed.html' %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <!-- Image background in case the video is not supported -->
      <img src="{% static "pokemon/img/charizards.webp" %}" alt="" data-aos="fade-in">


      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">{% trans 'Welkom bij' %} <span class="kamikaze">ChudartZ</span>  Collectibles</h2>
            <p data-aos="fade-up" data-aos-delay="200">
              {% trans 'Uw ultieme bestemming voor alles wat met collectibles te maken heeft.' %}
            </p>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
       
    {% if evenement %}
    <section id="over-ons" class="over-ons section blog-posts">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-7 content">
            <h3>{% trans 'Laatste Evenement' %}</h3>
            <h2>{{ evenement.titel }}</h2>
            <p>
              {{ evenement.intro_op_index }}
            </p>
            <a href="{% url 'evenement' slug=evenement.slug %}" class="read-more mb-2"><span>{% trans 'Bekijk evenement' %}</span><i class="bi bi-arrow-right"></i></a>
            <a href="{% url 'evenementen' %}" class="read-more"><span>{% trans 'Zie alle evenementen' %}</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-5">
            <div class="row gy-4 icon-boxes">

              <div data-aos="fade-up" data-aos-delay="200">
                {% include 'pokemon/blocks/toernooi-card.html' with evenement=evenement lg="true" %}
              </div>

            </div>
          </div>

        </div>
      </div>

    </section>
    {% endif %}


    <!-- About Section -->
    <section id="over-ons" class="over-ons section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>{% trans 'Over Ons' %}</h3>
            <h2>{% trans 'ChudartZ Collectibles' %}</h2>
            <p>
              {% blocktrans %}
              Welkom bij ChudartZ Collectibles, dé bestemming voor liefhebbers van unieke en bijzondere verzamelobjecten en evenementen! Bij ons staat de passie voor collectibles centraal, met een speciale focus op Pokémon en andere populaire items. Of je nu een doorgewinterde verzamelaar bent of net begint, wij bieden je de kans om je passie te delen met gelijkgestemden.
              {% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}
              Wij organiseren regelmatig beurzen en evenementen waar verzamelaars samenkomen om unieke stukken te ontdekken, te ruilen en ervaringen uit te wisselen. Bij ChudartZ Collectibles bieden we een platform waar de verzamelwereld op een dynamische en inspirerende manier tot leven komt.
              {% endblocktrans %}
            </p>
            <a href="{% url 'over_ons' %}" class="read-more"><span>{% trans 'Lees Meer' %}</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <a href="{% url 'evenementen' %}"><i class="bi bi-stars"></i></a>
                  <h3>{% trans 'Evenementen' %}</h3>
                  <p>
                    {% blocktrans %}
                    We organiseren evenementen die volledig gericht zijn op unieke verzamelobjecten. Van exclusieve ruilbeurzen tot tentoonstellingen van bijzondere collecties. Bij ons draait alles om de passie voor verzamelen. Of je nu verzamelaar bent of gewoon wilt genieten van unieke stukken, onze evenementen bieden voor ieder wat wils!
                    {% endblocktrans %}
                  </p>
                </div>
              </div>
              
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <a href="{% url 'faq' %}"><i class="bi bi-question-circle"></i></a>
                  <h3>{% trans 'FAQ' %}</h3>
                  <p>
                    {% blocktrans %}
                    Heb je vragen over ons? Bekijk dan onze FAQ! Hier vind je antwoorden op de meest gestelde vragen over evenementen, collectibles, regels en meer. Zo ben je meteen op de hoogte van alle belangrijke informatie. Mis je nog iets? Aarzel niet om contact met ons op te nemen!
                    {% endblocktrans %}
                  </p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </section><!-- /About Section -->


    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container section-title" data-aos="fade-up">
        <h2>{% trans 'Contact' %}</h2>
        <p>{% trans 'Aarzel niet om ons te contacteren!' %}</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <a href="tel:+32472041891"><i class="bi bi-telephone"></i></a>
                  <h3>{% trans 'Bel/Whatsapp ons' %}</h3>
                  <p><a href="tel:+32472041891">0472/04.18.91</a></p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <a href="mailto:chudartz@gmail.com"><i class="bi bi-envelope"></i></a>
                  <h3>{% trans 'Email ons' %}</h3>
                  <p><a href="mailto:chudartz@gmail.com">chudartz@gmail.com</a></p>
                </div>
              </div>

              <div class="col-md-12">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <div id="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2502.270742982275!2d3.195936676495591!3d51.15879783611015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c351b65050c1f5%3A0x72c3e8f883b5c40b!2sDen%20Strooien%20Hane!5e0!3m2!1snl!2sbe!4v1728542224521!5m2!1snl!2sbe" width="100%" height="295" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col-lg-6"> 
            
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <div style="padding-left: 30px;">
                <i class="bi bi-inbox"></i>
                <h3>{% trans 'Stuur ons een bericht' %}</h3>
              </div>
              <form action="{% url 'contact' %}" method="POST" id="email-form" class="email-form">
                {% csrf_token %}
                <div class="row gy-4">
            
                    <!-- Name -->
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="{% trans 'Naam' %}" maxlength="100" required>
                    </div>
            
                    <!-- Email -->
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" placeholder="{% trans 'Email' %}" maxlength="254" required>
                    </div>
            
                    <!-- Subject -->
                    <div class="col-12">
                        <input type="text" class="form-control" name="subject" placeholder="{% trans 'Onderwerp' %}" maxlength="100" required>
                    </div>
            
                    <!-- Message -->
                    <div class="col-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="{% trans 'Bericht' %}" required></textarea>
                    </div>

                    <!-- captcha -->
                    <input type="hidden" name="recaptcha_token" id="recaptcha_token">
            
                    <!-- Submit Button and Feedback Messages -->
                    <div class="col-12 text-center">
                        <div class="loading" style="display:none;">{% trans 'Laden...' %}</div>
                        <div class="error-message" style="display:none;"></div>
                        <div class="sent-message" style="display:none;">{% trans 'Uw bericht is verzonden. Bedankt!' %}</div>
                        <button type="submit">{% trans 'Stuur bericht' %}</button>
                    </div>
            
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  {% include 'pokemon/blocks/footer.html' %}

  <script src="{% static "vendor/email-form/validate.js" %}" defer></script>

</body>
{% endblock %}