// main: ../main.scss
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &:before {
    content: "";
    background: color-mix(in srgb, var(--background-color), transparent 50%);
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  .kamikaze {
    font-family: var(--logo-font);
    color: var(--accent-color);
    letter-spacing: 3px;
    text-shadow: 
      1px 1px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000;
  }

  .container {
    position: relative;
    z-index: 3;
  }

  h2 {
    margin: 0;
    font-size: 44px;
    font-weight: 700;
  }

  p {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin: 5px 0 0 0;
    font-size: 20px;
  }

  .sign-up-form {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 7px;
    background: color-mix(in srgb, var(--default-color) 5%, white 90%);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
    display: flex;

    input[type="email"] {
      background-color: transparent;
      border: 0;
      padding: 4px 10px;
      width: 100%;
    }

    input[type="email"]:focus-visible {
      outline: none;
    }

    input[type="submit"] {
      border: 0;
      box-shadow: none;
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      padding: 8px 20px 10px 20px;
      border-radius: 7px;
      color: var(--contrast-color);
      transition: 0.3s;

      &:hover {
        background-color: color-mix(in srgb, var(--accent-color), transparent 10%);
      }
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }
  }
}