// main: ../main.scss
/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing {
  padding: 60px 0 120px 0;

  .section-title {
    margin-bottom: 40px;
  }

  .pricing-item {
    background-color: var(--surface-color);
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
    padding: 60px 40px;
    height: 100%;
    position: relative;
    border-radius: 15px;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
  }

  .icon {
    margin: 30px auto 20px auto;
    width: 70px;
    height: 70px;
    background: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform-style: preserve-3d;

    i {
      color: var(--background-color);
      font-size: 28px;
      transition: ease-in-out 0.3s;
      line-height: 0;
    }

    &::before {
      position: absolute;
      content: '';
      height: 86px;
      width: 86px;
      border-radius: 50%;
      background: color-mix(in srgb, var(--accent-color), transparent 80%);
      transition: all .3s ease-out 0s;
      transform: translateZ(-1px);
    }

    &::after {
      position: absolute;
      content: '';
      height: 102px;
      width: 102px;
      border-radius: 50%;
      background: color-mix(in srgb, var(--accent-color), transparent 90%);
      transition: all .3s ease-out 0s;
      transform: translateZ(-2px);
    }
  }

  h4 {
    font-size: 48px;
    color: var(--accent-color);
    font-weight: 700;
    font-family: var(--heading-font);
    margin-bottom: 25px;
    text-align: center;

    sup {
      font-size: 28px;
    }

    span {
      color: color-mix(in srgb, var(--default-color), transparent 50%);
      font-size: 18px;
      font-weight: 400;
    }
  }

  ul {
    padding: 20px 0;
    list-style: none;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    text-align: left;
    line-height: 20px;

    li {
      padding: 10px 0;
      display: flex;
      align-items: center;
    }

    i {
      color: #059652;
      font-size: 24px;
      padding-right: 3px;
    }

    .na {
      color: color-mix(in srgb, var(--default-color), transparent 70%);

      i {
        color: color-mix(in srgb, var(--default-color), transparent 70%);
      }

      span {
        text-decoration: line-through;
      }
    }
  }

  .buy-btn {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
    transition: none;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--heading-font);
    transition: 0.3s;

    &:hover {
      background-color: var(--accent-color);
      color: var(--contrast-color);
    }
  }

  .featured {
    z-index: 10;
    border: 3px solid var(--accent-color);

    @media (min-width: 992px) {
      transform: scale(1.15);
    }
  }
}